<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header" style="background-color: cyan">
    <h1>
      Recent Changes
      <a [routerLink]="['/admin/updatedRecords']">
        <button class="btn btn-xs btn-success text-capitalize">Check Recent Balance Updates</button>
      </a>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">
            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                    <th>SR. No</th>
                    <th>Changed By</th>
                    <th>Changed in</th>
                    <th>Changed To Status</th>
                    <!-- <th>Changed to Order No</th> -->
                    <th>Changed On</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let track of track_data; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{track.admin_details[0].f_name}} {{track.admin_details[0].l_name}}</td>
                  <td>{{track.type}}</td>
                  <td>{{track.status}}</td>
                  <!-- <td>{{track.order_id}}</td> -->
                  <td>{{track.date | date : 'dd/MM/yyyy h:mm:ss'}}</td>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Changed By</th>
                  <th>Changed in</th>
                  <th>Changed Status</th>
                  <!-- <th>Changed to Order No</th> -->
                  <th>Changed On</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

