<app-header></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="loader == 1" style="margin-top:15%">
    <app-loader></app-loader>
</div>
<!-- <img *ngIf="loader == 1" src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:100%; width:100%"> -->

<div class="content-wrapper" *ngIf="loader == 0">
    <section class="content-header">
        <h1>
            <p class="text-uppercase"> {{currency}} Deposits </p>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">

        <div class="row">
            <div *ngIf="currency == 'inr'">
                <a [routerLink]="['/deposit',currency, 'all']" (click)="cleanupDepositArr()">

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <a href="#" class="small-box-footer">All {{currency}} Deposits
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                </a>
                <a [routerLink]="['/deposit',currency, 'pending']" (click)="cleanupDepositArr()">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-yellow">
                            <a href="#" class="small-box-footer">Pending Deposits
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['/deposit',currency, 'completed']" (click)="cleanupDepositArr()">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-green">
                            <a href="#" class="small-box-footer">Completed Depostis
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['/deposit',currency, 'canceled']" (click)="cleanupDepositArr()">
                    <!-- <a [routerLink]="['/deposit','inr_deposit_canceled']"> -->
                    <div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-red">
                            <a href="#" class="small-box-footer">Canceled INR Deposits
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>

                    </div>
                </a>
            </div>
            <div *ngIf="currency != 'inr'">
                <a [routerLink]="['/deposit',currency, 'confirm']" (click)="cleanupDepositArr()">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-green">
                            <a href="#" class="small-box-footer text-capitalize">Confirm {{currency}} Depostis
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>

                <div *ngIf="currency != 'xlm' && currency !='xrp' ">
                    <a [routerLink]="['/deposit',currency, 'unconfirm']">
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-red">
                                <a href="#" class="small-box-footer text-capitalize">Unconfirm {{currency}} Depostis
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header panel-heading panel-info">
                        <h3 class="box-title text-uppercase">Deposit {{currency}}</h3>
                        <div style="float: right"> Total Records
                            <span style="font-size:14px">{{count}}</span>
                        </div>

                        <div *ngIf="currency == 'inr'" style="float: right; margin-right: 75px;">
                            <input type="radio" [checked]=" (payU == 0)" (click)="pay(0)" name="payU" value="0"> No
                            <input type="radio" [checked]=" (payU == 1)" name="payU" (click)="pay(1)" value="1"> Yes
                        </div>

                        <div *ngIf="currency != 'inr'" style="float: right; margin-right: 75px;">
                            <input type="radio" [checked]=" (withdrawal_type == 0)" (click)="externalSearch(0)" name="withdrawal_type" value="0"> All
                            <input type="radio" [checked]=" (withdrawal_type == 1)" (click)="externalSearch(1)" name="withdrawal_type" value="0"> External
                            <input type="radio" [checked]=" (withdrawal_type == 2)" (click)="externalSearch(2)" name="withdrawal_type" value="1"> Internal
                        </div>
                        <div *ngIf="currency == 'inr'" style="float: right; margin-right: 10px;">
                            PayU Bank
                        </div>
                    </div>

                    <div class="row box-body">
                        <div class="col-md-6 text-left">
                            <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <div style="float: right; margin-right: 75px;">
                                <input class="input-sm" type="text" (keyup)="searchResult($event)" [(ngModel)]="model.search" placeholder="search data">
                                <input id="searchDataDeposits" type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="box-body" *ngIf="currency == 'inr'">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead class="mat-header-row">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="all" (change)="checkAll($event)" />
                                    </th>
                                    <th scope="col">
                                        <i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("created")'></i>date </th>
                                    <th>Client ID</th>
                                    <th>Txn Id</th>
                                    <th>Users Current Balance</th>
                                    <th>
                                        <i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("amount")'></i>Amout</th>
                                    <th>Bank</th>
                                    <th>Registered Name</th>
                                    <th>Account Number</th>
                                    <th>Ifsc Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td colspan="12">{{currency_records|json}}</td>
                                    </tr> -->
                                <tr *ngFor="let deposits of currency_records | paginate: { itemsPerPage:10, currentPage: p,totalItems: count } ; let i = index">
                                    <th>
                                        <input type="checkbox" name="deposits[]" value="{{deposits.id}}" (change)="check(deposits ,deposits.bankDetails[0],deposits.state, $event)"
                                            [(ngModel)]="deposits.state" />
                                    </th>
                                    <td>{{deposits.created | date: 'dd/MM/yyyy'}}</td>

                                    <td>
                                        <a [routerLink]="['/userProfile',deposits.client_id]">{{deposits.client_id }}</a>
                                    </td>

                                    <td>{{deposits.txid}}</td>
                                    <td>{{deposits.bankDetails[0]?.previous_balance}}</td>
                                    <td>{{deposits.amount}}</td>
                                    <td>{{deposits.bank}}</td>
                                    <td>{{deposits.bankDetails[0]?.registered_name}}</td>
                                    <td>{{deposits.bankDetails[0]?.account_number}}</td>
                                    <td>{{deposits.bankDetails[0]?.ifsc_code}}</td>

                                    <td style="width:12%">
                                        <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" *ngIf="deposits.status == 'success'">Complete</button>
                                        <button [disabled]="!disableButton" class="btn btn-xs btn-warning text-capitalize" (click)="deposit_inr_status(deposits._id)"
                                            *ngIf="deposits.status == '0'">Pending</button>
                                        <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="deposit_inr_status(deposits._id)"
                                            *ngIf="deposits.status == '1'">Complete</button>
                                        <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="deposit_inr_status(deposits._id)"
                                            *ngIf="deposits.status == '2'">Canceled</button>
                                        <div *ngIf="selectedIndex == deposits._id && useraccess.DepositINR >=3">
                                            <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(deposits.client_id,deposits._id,'2', deposits.amount)"
                                                *ngIf="deposits.status == '0'"> Cancel</button>
                                            <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(deposits.client_id,deposits._id,'1', deposits.amount)"
                                                *ngIf="deposits.status == '0'">Complete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="all" (change)="checkAll($event)" />
                                        </th>
                                        <th scope="col">date </th>
                                        <th>Client ID</th>
                                        <th>Txn Id</th>
                                        <th>Users Current Balance</th>
                                        <th>Amout</th>
                                        <th>Bank</th>
                                        <th>Registered Name</th>
                                        <th>Account Number</th>
                                        <th>Ifsc Code</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                        </table>
                        <div style="float:right">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                    <div class="box-body table-responsive" *ngIf="currency != 'inr' && currency != 'xlm' && currency != 'xrp' ">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead class="mat-header-row">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="all" (change)="checkAll($event)" />
                                    </th>
                                    <th>Date</th>
                                    <th>client Id</th>
                                    <th>
                                        <i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("amount")'></i>Amount</th>
                                    <th>Withdrawal Type</th>
                                    <th>Confirmations</th>
                                    <th>Currency</th>
                                    <th>Type</th>
                                    <th>Registered Name</th>

                                    <th>Status</th>
                                    <th>TXN ID</th>
                                    <th>Sent Address</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposits of currency_records | paginate: { itemsPerPage:10, currentPage: p ,totalItems: count} ; let i = index">
                                    <th>
                                        <input type="checkbox" name="deposits[]" value="{{deposits.id}}" (change)="check(deposits ,deposits.bankDetails[0],deposits.state, $event)"
                                            [(ngModel)]="deposits.state" />
                                    </th>
                                    <!-- <td>                    test {{deposits|json}}</td> -->
                                    <td>{{deposits.created | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{deposits.client_id }}</td>
                                    <td>{{deposits.amount}}</td>

                                    <td>{{deposits.withdrawal_type}}</td>
                                    <td>{{deposits.confirmations}}</td>
                                    <td>{{deposits.currency}}</td>
                                    <td>{{deposits.type}}</td>
                                    <!-- users_doc.id_uploads[users_doc.id_uploads.length - 1]?.location -->
                                    <!-- both conditions are same either length -1 or direct 0 -->
                                    <td>{{deposits.bankDetails[deposits.bankDetails.length -1]?.registered_name}}</td>

                                    <td>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="deposits.status == '1'">Complete</button>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-warning text-capitalize" *ngIf="deposits.status == '0'">Pending</button>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="deposits.status == '2'">Canceled</button>
                                    </td>
                                    <td>{{deposits.txid}}</td>
                                    <td>{{deposits.sent_address}}</td>

                                </tr>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="all" (change)="checkAll($event)" />
                                        </th>
                                        <th>Date</th>
                                        <th>client Id</th>
                                        <th>Amount</th>
                                        <th>TXN ID</th>
                                        <th>Sent Address</th>
                                        <th>Withdrawal Type</th>
                                        <th>Confirmations</th>
                                        <th>Currency</th>
                                        <th>Type</th>
                                        <th>Registered Name</th>

                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                        </table>
                        <div style="float:right">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                    <div class="box-body table-responsive" *ngIf="currency == 'xlm' || currency == 'xrp' ">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead class="mat-header-row">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="all" (change)="checkAll($event)" />
                                    </th>
                                    <th>Date</th>
                                    <th>client Id</th>
                                    <th>Id</th>
                                    <th>
                                        <i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("amount")'></i>Amount</th>
                                    <th>Destination Tag</th>
                                    <!-- <th>Transaction Type</th> -->
                                    <th>Transaction Date</th>
                                    <th>Registered Name</th>
                                    <th>Sender Address</th>
                                    <th>Destination Address</th>
                                    <th>Hash</th>
                                    <!-- <th>Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deposits of currency_records | paginate: { itemsPerPage:10, currentPage: p } ; let i = index">
                                    <th>
                                        <input type="checkbox" name="deposits[]" value="{{deposits.id}}" (change)="check(deposits ,deposits.bankDetails[0],deposits.state, $event)"
                                            [(ngModel)]="deposits.state" />
                                    </th>
                                    <td>{{deposits.created | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{deposits.client_id }}</td>
                                    <td>{{deposits.id }}</td>
                                    <td>{{deposits.amount}}</td>

                                    <td>{{deposits.destination_tag}}</td>
                                    <!-- <td>{{deposits.transaction_type}}</td> -->
                                    <td>{{deposits.transaction_date}}</td>
                                    <td>{{deposits.bankDetails[0]?.registered_name}}</td>
                                    <td>{{deposits.sender_address}}</td>
                                    <td>{{deposits.destination_address}}</td>
                                    <td>{{deposits.hash}}</td>

                                    <!-- <td>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="deposits.status == '1'">Complete</button>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-warning text-capitalize" *ngIf="deposits.status == '0'">Pending</button>
                                        <button [disabled]="!disableButton" style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="deposits.status == '2'">Canceled</button>
                                    </td> -->
                                </tr>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="all" (change)="checkAll($event)" />
                                        </th>
                                        <th>Date</th>
                                        <th>client Id</th>
                                        <th>Id</th>
                                        <th>Amount</th>

                                        <th>Destination Tag</th>
                                        <!-- <th>Transaction Type</th> -->
                                        <th>Transaction Date</th>
                                        <th>Registered Name</th>
                                        <th>Sender Address</th>
                                        <th>Destination Address</th>
                                        <th>Hash</th>

                                        <!-- <th>Status</th> -->
                                    </tr>
                                </tfoot>
                        </table>
                        <div style="float:right">
                            <!-- <pagination-controls id="$event" (pageChange)="pageChanged($event)"></pagination-controls> -->
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>