<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">

  <section class="content-header">
    <h3>
      <small>Control panel</small>
    </h3>

  </section>
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
      <div class="box-body">
        <div class="form-group">

          <div style="float: right; margin-right: 75px;  ">
            <input type="radio" [checked]=" (isVerified == 1)" name="verified" (click)="mail(1)" value="1"> All User
            <input type="radio" [checked]=" (isVerified == 0)" name="verified" (click)="mail(0)" value="0"> Some User
          </div>

          <form #clientForm="ngForm" *ngIf="(isVerified == 0)">
            <p>Send Notification</p>
            <div class="form-group">
              <label for="to"> Enter Client ID</label>
              <input type="text" name="client" [(ngModel)]="model.client" placeholder="Enter Client ID">
              <button type="submit" (click)="getclientEmail(model.client)" class="btn btn-success btn-sm">Add</button>
            </div>
          </form>

          <form (ngSubmit)="sendNotifications(model)" novalidate #registerForm="ngForm">
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
              <div class="container__child signup__form">
                <div *ngIf="(isVerified == 0)" class="form-group">
                  <label for="to">To</label>
                  <input class="form-control" type="to" name="to[]" id="to" [(ngModel)]="model.to" placeholder="example@gmail.com" required
                    #email="ngModel">
                </div>
                <div class="form-group">
                  <label for="Title">Title</label>
                  <input class="form-control" type="text" [(ngModel)]="model.title" name="title" required #username="ngModel" #title="ngModel">
                </div>

                <div class="form-group">
                    <label for="Title">Link</label>
                    <input class="form-control" type="text" [(ngModel)]="model.link" name="link"  #username="ngModel" #title="ngModel">
                  </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <!-- <input class="form-control"  name="description" [(ngModel)]="model.description" id="description" placeholder="bond" required #description="ngModel"> -->
                  <textarea class="form-control" rows="4" cols="50" placeholder="Write Notification Message..." name="message" [(ngModel)]="model.message"
                    id="description" required #description="ngModel"></textarea>
                </div>
                <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">Please Enter Description</div>
                <div class="form-group">
                  
                  <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-success btn-sm">Send</button>
                  <h4 style="color:blue">{{message}}</h4>

                </div>


              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>