<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Payout Withdrawals
      <!-- <button type="button" (click)='addTransactionIds()' class="btn btn-xs btn-success text-capitalize">Add Transaction ID</button>
      <button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize">
        open model
      </button> -->
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <form (ngSubmit)="getPayoutHistories(data_filter)" #depositForm="ngForm">

      <div class="col-md-3">
        <div class="form-group">
          <label>Start Date</label>
          <div class="input-group">
            <mat-form-field class="example-full-width" style="margin-left:10px">
              <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="data_filter.start_date"
                [matDatepicker]="picker" [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Till Date</label>
          <div class="input-group">
            <mat-form-field class="example-full-width" style="margin-left:10px">
              <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="data_filter.end_date"
                [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" *ngIf='data_filter.end_date && data_filter.start_date' class="btn btn-success pull-left">
          Filter 
        </button>
        <button type="submit" (click)='getPayoutHistories()' class="btn btn-success pull-left">
            Show All
          </button>
        <!-- <p *ngIf='!data_filter.end_date || !data_filter.start_date'>
          Please select dates to search
        </p> -->
      </div>
    </form>

    <div class="row">
      <div style="float: right; margin-right: 75px;">
        <input type="text" (keyup)="searchResult($event)" [(ngModel)]="model.search" placeholder="search data">
        <input type="button" id='searchTransactionIds' *ngIf="model.search.length > 1" value="search" (click)="searchResultData()"
        />
      </div>

      <div class="col-xs-12">

        <div class="box">

          <div class="box-body table-responsive">
              <button (click)="exportToExcel()" [disabled]="!exportButton" class="btn btn-primary">Export to excel</button>

            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                    <th>
                        <input type="checkbox" name="all" (change)="checkAll($event)" />
                      </th>
                  <th>SR. No</th>
                  <th>Client ID</th>
                  <th>Amount</th>
                  <!-- <th>Received Date</th> -->
                  <th>Created On</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tx of txn_details | paginate: { itemsPerPage:10, currentPage: p ,totalItems:count } ; let i = index">
                    <th>
                        <input type="checkbox" name="dep[]" value="{{tx.id}}" (change)="check(tx, tx.state, $event)" [(ngModel)]="tx.state" />
                      </th>
                  
                  <td>{{i+1}}</td>
                  <td>{{tx.client_id}}</td>
                  <td>{{tx.amount}}</td>
                  <!-- <td>{{tx.received_date | date: 'dd/MM/yyyy'}}</td> -->
                  <td>{{tx.created | date: 'dd/MM/yyyy'}}</td>
                  <!-- <td>{{tx.status}}</td> -->


                  <td>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" *ngIf="tx.status == 1">Done</button>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" *ngIf="tx.status == 0">Not completed</button>

                    <!-- <button [disabled]="!disableButton" type="button" class="btn btn-sm btn-warning text-capitalize" (click)='updateTutorial(tut.id, "trade")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button> -->

                  </td>
                </tr>


              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th></th>
                  <th>SR. No</th>
                  <th>Transaction ID</th>
                  <th>Amount</th>
                  <!-- <th>Received Date</th> -->
                  <th>Added On</th>
                  <th>Status</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Transaction IDs
            <p style="color:blue; font-size:18px" class="text-center box-title">{{message}}</p>
          </h4>
        </div>
        <form (ngSubmit)="saveTxnIds(txn)" novalidate #ManageTransactionId="ngForm">
          <div class="box box-danger">
            <div class="box-body">

              <!-- <div class="form-group">
                <label>Title</label>
                <select name="currency" [(ngModel)]="tutorial.type" class="form-control" placeholder="Select Link Type">
                  <option value="" disabled> Select Link Type </option>
                  <option value="trade" class="text-uppercase"> Trade </option>
                  <option value="kyc" class="text-uppercase"> KYC </option>
                  <option value="interest " class="text-uppercase"> Interest </option>
                </select>
              </div> -->

              <div class="form-group">
                <label>TXN Id
                  <span *ngIf='disable_save == 1' style="color:red">{{txn_message}}</span>
                </label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="txn.txId" name="txId" placeholder="Transaction Id" (change)="checkTxId(txn.txId)"
                    type="text" class="form-control">
                  <!-- <label>{{txn_message}}</label> -->
                </div>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="txn.amount" name="amount" placeholder="Amount" type="text" class="form-control">
                </div>
              </div>

              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>