<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- <img *ngIf="loader == 1" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="height:100%; width:100%"> -->

<div class="content-wrapper">
  <aside class="right-side">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="addDailyInterst(deposit)" novalidate #depositForm="ngForm">
            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Add Daily Interest</h3>
                  <br>
                </div>
                <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>

                <div class="box-body">
                  <div class="form-group">
                    <label>Client ID</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <!-- <div class="form-group" data-validate="client_id is required"> -->
                      <input #client_id="ngModel" maxlength="8" name="client_id" [(ngModel)]="deposit.client_id" (keyup)="deposit.client_id.length > 4 ? getclientName(deposit.client_id) : 0"
                        required placeholder="client ID" type="text" class="form-control" pattern="[0-9]*">
                      <!-- </div> -->
                    </div>
                  </div>
                  <!-- <div *ngIf="client_id.errors?.required && client_id.touched" class="alert alert-danger">Please Enter Client Id</div>
                  <div *ngIf="client_id.errors?.pattern && client_id.touched" class="alert alert-danger">Please Enter Numbers Only</div> -->

                  <div class="form-group">
                    <label>User Name</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input readonly name="client_id" placeholder="User Name is" value="{{full_name}}" type="text" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #amount="ngModel" [(ngModel)]="deposit.amount" maxlength="10" required pattern="\d+(\.\d{1,8})?" name="amount" placeholder="Enter Amount" type="text" class="form-control">
                    </div>
                  </div>
                  <!-- <div *ngIf="amount.errors?.required && amount.touched" class="alert alert-danger">Please Enter Amount</div>
                  <div *ngIf="amount.errors?.pattern && amount.touched" class="alert alert-danger">Please Enter Numbers Only (Max 8 Decimals)</div>
                   -->
                  </div>
                </div>
             
           
              <div class="box-body">
                  <!-- <div *ngIf="comments.errors?.required && comments.touched" class="alert alert-danger">Please Enter Reason for Deposit Or Comment</div> -->
                  <div class="modal-footer clearfix">
                    <button [disabled]="!disableButton || !depositForm.form.valid || !isClientIdValid" type="submit" class="btn btn-primary pull-left">
                      <i class="fa fa-envelope"></i> Save
                    </button>
                    <br>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </section>
  </aside>




</div>