<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Users Details
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- <div class="row">
      <div class="col-lg-3 col-xs-6">
       
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>
            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
   
      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53
              <sup style="font-size: 20px">%</sup>
            </h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
     
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Daily Interests</h3>
          </div>
          
          <!-- /.box-header -->
          <div class="box-body">
            <div class="input-field col s6">
              <label>Search</label>
              <input  class="form-control" type="text" matInput  [(ngModel)]="filtertext"  (keyup)="applyFilter($event.target.value)">
              </div>
             
              <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" >
                
                  <ng-container matColumnDef="client_id">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header> <strong> Client_id </strong>  </mat-header-cell>
                    <mat-cell *matCellDef="let data">  {{data.client_id}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="interest">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Interest </strong> </mat-header-cell>
                    <mat-cell *matCellDef="let data"> {{data.interest}}  </mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="dailyAmount">
                      <mat-header-cell *matHeaderCellDef> <strong>  DailyAmount </strong> </mat-header-cell>
                      <mat-cell *matCellDef="let data"> {{data.dailyAmount}}  </mat-cell>
                    </ng-container>

                  <ng-container matColumnDef="totalAmount">
                    <mat-header-cell *matHeaderCellDef> <strong> TotalAmount </strong> </mat-header-cell>
                    <mat-cell *matCellDef="let data"> {{data.totalAmount}}  </mat-cell>
                  </ng-container>
             
              
             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)"></mat-row>
               </mat-table>
               <mat-paginator class="page-css" [length]="22" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
              </mat-paginator>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


