<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h3>
       Interest
      <small>Control panel</small>
    </h3>
  </section>

  <div class="error-message">
    <h4>{{message}}</h4>
  </div>

  <!-- Main content -->
  <section class="content">
    
      <div style="float: right"> Total Records {{count}} </div>
    <!-- ./col -->
    <!-- Small boxes (Stat box) -->
    <button (click)="exportToExcel()" [disabled]="buttonState()"  class="btn btn-primary">Export to excel</button>
    <a [routerLink]="['/add-daily-interest']"> <button  class="btn btn-primary">Add Interest</button></a>
    
    <div class="content">
        <div style="float: right; margin-right: 75px;">  
            <input type = "text" (keyup)="searchResult()" [(ngModel)] = "model.search" placeholder ="search data"> 
            <input type="button" *ngIf="model.search.length > 1"  value ="search" (click)="searchResultData()"/>
         </div>
      <table class="table table-bordered table-responsive">
        <!-- int currency table -->
        <thead class="mat-header-row">
          <tr>
            <th><input type="checkbox" name="all" (change)="checkAll($event)" /></th>
            <th scope="col"><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("client_id")'></i> Client Id</th>
            <th scope="col"><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("created")'></i> Date</th>
            <th scope="col"><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("interest")'></i> Interest</th>
            <th><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("dailyAmount")'></i> Daily Amount</th>
            <th><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("totalAmount")'></i> Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ref of data | paginate: { itemsPerPage:10, currentPage: p ,totalItems:count } ; let i = index ">
              <th><input type="checkbox" name="ref[]" value="{{ref.id}}" (change)="check(ref,ref.state, $event)" [(ngModel)]="ref.state"/></th>
            <td><a [routerLink]="['/userProfile',ref.client_id]">{{ref.client_id}}</a></td>
            <td>{{ref.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{ref.interest.toFixed(8)}}</td>
            <td>{{ref.dailyAmount.toFixed(8)}}</td>
            <td>{{ref.totalAmount.toFixed(8)}}</td>
            </tr>
          <tr *ngIf="data == ''">
            <div>
              <p class="noti-message">No Record's Fount</p>
            </div>
          </tr>
        </tbody>
        <thead class="mat-header-row">
            <tr>
                <th><input type="checkbox" name="all" (change)="checkAll($event)" /></th>
                <th scope="col">Client Id</th>
                <th scope="col">date</th>
                <th scope="col">Interest</th>
                <th>Daily Amount</th>
                <th>Total Amount</th>
              </tr>
        </thead>
      </table>
     <pagination-controls (pageChange)="pageChange($event)" ></pagination-controls>
    </div>
  </section>
</div>