.mat-header-row {
    background-color: #232d32;
    color: aliceblue;
 }
 table {
    width: 100%;
    margin-top: 12px;
 }
 /* .alternate tr:nth-child(2n) {
     background-color: #F8F9F9; 
  } */
  
  .alternate tr:nth-child(2n):hover, .alternate tr:hover {
    background-color: #FBFCFC;
  }
  
  