<app-header></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="loader == 1" style="margin-top:15%">
<app-loader ></app-loader>
</div>
<!-- <app-loader></app-loader> -->

<!-- <img *ngIf="loader == 1" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="height:100%; width:100%"> -->
<div class="content-wrapper" *ngIf="loader == 0">
  <section class="content-header">
    <h1>
      Users KYC Details
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Users KYC Details</h3>
          </div>
          <div class="col-md-12">
            <div class="text-center col-md-10">
              <a target="blank" href="https://investor.hdfcfund.com/mfekyc/PanValidation.aspx">
                <button class="btn btn-md btn-warning text-capitalize">Check For Pan Details</button>
              </a>
              <a target="blank" href="https://resident.uidai.gov.in/aadhaarverification">
                <button class="btn btn-md btn-danger text-capitalize">Check For Aadhaar Card Details</button>
              </a>
            </div>
          </div>
          <hr style="border-bottom:2px">
          <div class="box-body table-responsive">
            Total Users {{count}}
            <div style="float: right; margin-right: 75px;">
              <input type="text" [(ngModel)]="model.search" (keyup)="searchResult($event)" placeholder="search data">
              <input id="clicked_to_search" type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()" />
            </div>

            <div style="float: right; margin-right: 75px;">
              <input type="radio" [checked]=" (isVerified == 0)" name="verified" (click)="verfied(0)" value="0"> Unverified
              <input type="radio" [checked]=" (isVerified == 1)" name="verified" (click)="verfied(1)" value="1"> Verified Only
              <input type="radio" [checked]=" (isVerified == 2)" name="verified" (click)="verfied(2)" value="2"> Rejected Only
              <input type="radio" [checked]=" (isVerified == 3)" name="verified" (click)="verfied(3)" value="3"> All Users
            </div>

            <div style="float: right; margin-right: 75px;  ">
              Select Country
              <input type="radio" [checked]=" (country == 'ind')" name="india" (click)="SortBycountry('ind')" value="0"> IND
              <input type="radio" [checked]=" (country == 'thai')" name="india" (click)="SortBycountry('thai')" value="1"> THB
              <input type="radio" [checked]=" (country == 'all')" name="india" (click)="SortBycountry('all')" value="1"> ALL
            </div>

            <table class="table table-bordered">
              <thead class="mat-header-row">
                <tr>
                  <th>ID {{useraccess.Documents}}</th>
                  <th>Client ID</th>
                  <th>Full Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Pan no</th>
                  <th>Pan Image</th>
                  <th>Pan Status</th>
                  <th>Aadhaar no</th>
                  <th>Aadhaar Image</th>
                  <th>Aadhaar Back</th>
                  <th>Aadhaar Status</th>
                  <th>Bank Account Number</th>
                  <th>Bank Image</th>
                  <th>Bank Status</th>
                  <th>Email Verified</th>
                  <th>Kyc Status</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody *ngIf="count == 0">
                <tr>
                  <td colspan="18" class="text-center"><h3>No record found</h3></td>
                </tr>
              </tbody>
              <tbody>
                <tr *ngFor="let users_doc of users_docs | paginate: { itemsPerPage:10, currentPage: p ,totalItems:count} ; let i = index">
                  <td>{{users_doc.id}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',users_doc.client_id]">{{users_doc.client_id }}</a>
                  </td>
                  <td>{{users_doc.full_name}}</td>
                  <td>{{users_doc.mobile_number}}</td>
                  <td>{{users_doc.email}}</td>
                  <td>{{users_doc.id_number}}</td>
                  <td>
                    <div *ngIf="users_doc.id_uploads[users_doc.id_uploads.length - 1]?.location">
                      <img (click)="loadImg(users_doc.id_uploads[users_doc.id_uploads.length - 1]?.location, users_doc.id_number)" src="{{users_doc.id_uploads[users_doc.id_uploads.length - 1]?.location}}"
                        style="height:100px; width:100px">
                    </div>
                  </td>
                  <td>
                    <!-- <button class="btn btn-xs btn-success text-capitalize" (click)="id_status_toggle(i)">Pending {{users_doc.id_status}}</button> -->
                    <button class="btn btn-xs btn-warning text-capitalize" (click)="id_status_toggle(i)" *ngIf="users_doc.id_status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" (click)="id_status_toggle(i)" *ngIf="users_doc.id_status == '1'">Accepted</button>
                    <button class="btn btn-xs btn-danger text-capitalize" (click)="id_status_toggle(i)" *ngIf="users_doc.id_status == '2'">Rejected</button>

                    <div *ngIf="idStatusSelected == i && useraccess.Documents >= 3">
                      <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(users_doc.client_id,'2','id_status')"
                        *ngIf="users_doc.id_status == '0' || users_doc.id_status == '1'">Reject</button>
                      <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(users_doc.client_id,'1','id_status')"
                        *ngIf="users_doc.id_status == '2' || users_doc.id_status == '0'">Accept</button>
                      <!-- <button class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(users_doc.client_id,'2','id_status')"  *ngIf="users_doc.id_status == '0'">Pending</button> -->
                    </div>
                  </td>
                  <td>{{users_doc.aadhaar_number}}</td>
                  <td>
                    <div *ngIf="users_doc.country == 'India' || users_doc.country == 'india'">
                      <div *ngIf="users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 1]?.location">
                        <img (click)="loadImg(users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 1]?.location, users_doc.aadhaar_number)"
                          src="{{users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 1]?.location}}" style="height:100px; width:100px">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="users_doc.country == 'India' || users_doc.country == 'india'">
                      <div *ngIf="users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 2]?.location">
                        <img (click)="loadImg(users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 2]?.location, users_doc.aadhaar_number)"
                          src="{{users_doc.aadhaar_uploads[users_doc.aadhaar_uploads.length - 2]?.location}}" style="height:100px; width:100px">
                      </div>
                    </div>
                  </td>

                  <td>
                    <div *ngIf="users_doc.country == 'India' || users_doc.country == 'india'">
                      <button class="btn btn-xs btn-warning text-capitalize" (click)="toggle(i)" *ngIf="users_doc.aadhaar_status == '0'">Pending</button>
                      <button class="btn btn-xs btn-success text-capitalize" (click)="toggle(i)" *ngIf="users_doc.aadhaar_status == '1'">Accepted</button>
                      <button class="btn btn-xs btn-danger text-capitalize" (click)="toggle(i)" *ngIf="users_doc.aadhaar_status == '2'">Rejected</button>

                      <div *ngIf="selectedIndex == i  && useraccess.Documents >= 3">
                        <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(users_doc.client_id,'2','aadhaar_status')"
                          *ngIf="users_doc.aadhaar_status == '0' || users_doc.aadhaar_status == '1'">Reject</button>
                        <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(users_doc.client_id,'1','aadhaar_status')"
                          *ngIf="users_doc.aadhaar_status == '2' || users_doc.aadhaar_status == '0'">Accept</button>
                        <!-- <button class="btn btn-xs btn-warning text-capitalize" (click)="changeStatus(users_doc.client_id,'2','aadhaar_status')" *ngIf="users_doc.aadhaar_status == '0'">Pending</button> -->
                      </div>
                    </div>
                  </td>
                  <td>{{users_doc.bank_details[users_doc.bank_details.length - 1]?.account_number}}</td>
                  <td>
                    <div *ngIf="users_doc.bankDetails_uploads[users_doc.bankDetails_uploads.length - 1]?.location">
                      <img (click)="loadImg(users_doc.bankDetails_uploads[users_doc.bankDetails_uploads.length - 1]?.location, users_doc.bank_details[users_doc.bank_details.length - 1]?.account_number)"
                        src="{{users_doc.bankDetails_uploads[users_doc.bankDetails_uploads.length - 1]?.location}}" style="height:100px; width:100px">
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-warning text-capitalize" (click)="Banktoggle(i)" *ngIf="users_doc.bank_status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" (click)="Banktoggle(i)" *ngIf="users_doc.bank_status == '1'">Accepted</button>
                    <button class="btn btn-xs btn-danger text-capitalize" (click)="Banktoggle(i)" *ngIf="users_doc.bank_status == '2'">Rejected</button>
                    <div *ngIf="bankStatusSelected == i && useraccess.Documents >= 3">
                      <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(users_doc.client_id,'2','bank_status')"
                        *ngIf="users_doc.bank_status == '0' || users_doc.bank_status == '1'">Reject</button>
                      <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(users_doc.client_id,'1','bank_status')"
                        *ngIf="users_doc.bank_status == '2' || users_doc.bank_status == '0'">Accept</button>
                      <!-- <button class="btn btn-xs btn-warning text-capitalize" (click)="changeStatus(users_doc.client_id,'2','aadhaar_status')" *ngIf="users_doc.aadhaar_status == '0'">Pending</button> -->
                    </div>
                  </td>
                  <td>
                    <button style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="users_doc.isVerified == true">Verified</button>
                    <button style="cursor:none" class="btn btn-xs btn-danger text-capitalize" *ngIf="users_doc.isVerified == false">Not Verified</button>
                  </td>
                  <td>
                    <button style="cursor: none" class="btn btn-xs btn-danger text-capitalize" *ngIf="users_doc.kyc_status == '0'">Unverified</button>
                    <button style="cursor: none" class="btn btn-xs btn-success text-capitalize" *ngIf="users_doc.kyc_status == '1'">Verified</button>
                    <button style="cursor: none" class="btn btn-xs btn-danger text-capitalize" *ngIf="users_doc.kyc_status == '2'">Rejected</button>
                  </td>
                  <td>{{users_doc.country}}</td>
                </tr>
              </tbody>

              <thead class="mat-header-row">
                <tr>
                  <th>ID</th>
                  <th>Client ID</th>
                  <th>Full Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Pan no</th>
                  <th>Pan Image</th>
                  <th>Pan Status</th>
                  <th>Aadhaar no</th>
                  <th>Aadhaar Image</th>
                  <th>Aadhaar Back</th>
                  <th>Aadhaar Status</th>
                  <th>Bank Account Number</th>
                  <th>Bank Image</th>
                  <th>Bank Status</th>
                  <th>Email Verified</th>
                  <th>Kyc Status</th>
                  <th>Country</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<button id="imgbutton" data-toggle="modal" data-target="#imgModal" class="hidden btn btn-xs btn-success text-capitalize"></button>
<div class="modal fade" id="imgModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-lg">

      <div class="modal-header" style="padding:0px;">
        <div class='col-md-11'>
          <h3 class="text-center"> {{doc_detail_name}}</h3>
        </div>
        <div class='col-md-1'>
          <button type="button" class="close" data-dismiss="modal" style="padding-top:10px;">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <img data-dismiss="modal" src="{{this.loadImge}}" style="height:600px; width:865px">
      </div>
    </div>
  </div>
</div>

<button id="kyc_message" data-toggle="modal" data-target="#kycModal" class="hidden btn btn-xs btn-success text-capitalize">Click</button>
<div class="modal fade" id="kycModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (ngSubmit)="changeKycStatus(kyc)" novalidate #registerForm="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" required type="text" name="reason" [(ngModel)]="kyc.reason" id="reason" placeholder="Reason For cancelation"></textarea>
        </div>
        <div class="modal-footer">
          <button id="close_withdrawal_model" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button [disabled]="!disableButton" *ngIf="kyc.reason.length > 15 " type="submit" class="btn btn-success">Submit</button>
          <button *ngIf="kyc.reason.length < 16" disabled class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>