<header class="main-header">
  <!-- Logo -->
  <a [routerLink]="['/body']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <a [routerLink]="['/body']">   
          <img src="https://www.btcmonk.com/assets/images/btcmonk-sidenav-logo.png" class="user-image" alt="BTCMonk" style="width:100%">
          </a>
        
      <!-- <b>BTCMonk</b> -->
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs text-capitalize"> {{user_details.f_name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>
                  {{user_details.f_name}} {{user_details.l_name}}  ({{user_details.type}})
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left" *ngIf="user.type != 'admin'">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-left" *ngIf="user.type == 'admin'">
                <button type="button" (click)='changePassword()' class="btn btn-default btn-flat">Change Password</button>
                <button id="mymodelbuttonChangePass" data-toggle="modal" data-target="#change_admin_password" class="hidden btn btn-xs btn-success text-capitalize">
                  open model
                </button>
              </div>
              <div class="pull-right">
                <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>


<div class="modal fade" id="change_admin_password" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <form (ngSubmit)="updatePassword(pass)" novalidate #depositForm="ngForm">
          <div class="box box-danger">
            <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>
            <div class="box-body">
              <div class="form-group">
                <label>Current Password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="pass.current_password" name="title" placeholder="Old Password" type="password"
                    class="form-control">
                  <input #comments="ngModel" [(ngModel)]="pass.user_id" name="user_if" placeholder="User Id" type="password"
                    class="form-control hidden">
                </div>
              </div>
              <div class="form-group">
                <label>Update Password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="pass.update_password" name="title" placeholder="New Password" type="password"
                    class="form-control">
                </div>
              </div>
              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>