<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
  <aside class="right-side">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="addBankDetails(addbank)" novalidate #depositForm="ngForm">
            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">
                    Add Company Bank Accounts
                      <a [routerLink]="['/admin/CompanyBank']">
                        <button  class="btn btn-xs btn-warning text-capitalize">View Existing Bank Details</button>
                      </a>
                  </h3>
                  <br>
                </div>
                <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>
                <div class="box-body">

                  <div class="form-group">
                    <label>Benificiary Name</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="addbank.beneficiary" name="comments" placeholder="Benificiary" type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label>IFSC</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="addbank.ifsc" name="comments" placeholder="ifsc" type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Bank Name</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="addbank.bankName" name="bankName" placeholder="Bank Name" type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Account</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="addbank.account" name="account" placeholder="Account" type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Country</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="addbank.country" name="country" placeholder="Country" type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="modal-footer clearfix">
                      <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                        <i class="fa fa-envelope"></i> Save
                      </button>
                      <br>
                    </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </aside>
</div>