<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h3>
      Registration
      <small>Control panel</small>
    </h3>
    <h3 class="breadcrumb">
      <span class="label label-success header-lable">
        <a [routerLink]="['/view_support_users']" class="colour">View Members</a>
      </span>
    </h3>
  </section>
  <div class="error-message">
    <h4>{{message}}</h4>
  </div>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <form (ngSubmit)="register(model)" novalidate #registerForm="ngForm">
        <div class="col-xs-12 col-md-5 col-lg-5 col-sm-5">
          <p>User Details</p>
          <div class="container__child signup__form">
            <div class="form-group" data-validate="f_name is required">
              <label for="fname">First Name</label>
              <input class="form-control" type="text" [(ngModel)]="model.f_name" name="f_name" id="f_name" placeholder="james" required
                #f_name="ngModel">
            </div>
            <div *ngIf="f_name.errors?.required && f_name.touched" class="alert alert-danger">Please Enter First Name</div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input class="form-control" type="text" name="l_name" [(ngModel)]="model.l_name" id="l_name" placeholder="bond" required
                #l_name="ngModel">
            </div>
            <div *ngIf="l_name.errors?.required && l_name.touched" class="alert alert-danger">Please Enter Last Name</div>
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" [(ngModel)]="model.username" name="username" required #username="ngModel" #username="ngModel">
            </div>
            <div *ngIf="username.errors?.required && username.touched" class="alert alert-danger">Please Enter Username</div>
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="email" name="email" id="email" [(ngModel)]="model.email" placeholder="example@gmail.com"
                required #email="ngModel">
            </div>
            <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger">Please Enter Email</div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" [(ngModel)]="model.password" id="password" placeholder="*******"
                required #password="ngModel">
            </div>
            <div *ngIf="password.errors?.required && password.touched" class="alert alert-danger">Please Enter Password</div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input class="form-control" type="password" name="confirm_password" id="confirm_password" [(ngModel)]="model.confirm_password"
                placeholder="*******" required #confirm_password="ngModel">
            </div>
            <div *ngIf="confirm_password.errors?.required && confirm_password.touched" class="alert alert-danger">Please Enter Confirm Password</div>
            <div class="form-group">
              <label for="Description">Description</label>
              <input class="form-control" type="test" name="description" id="description" [(ngModel)]="model.description" placeholder="Admin User"
                required value="Admin" #description="ngModel">
            </div>
            <div class="form-group">
              <label for="Description">Select Admin Type</label>
              <select name="admin_users" [(ngModel)]="model.type" class="form-control" placeholder="Select Admin Type">
                <option value="" disabled> Select Admin Type </option>
                <option value="admin"> Admin </option>
                <option value="support"> Support </option>
                <option value="finance"> Finance </option>
                <option value="other"> Other </option>
              </select>
            </div>


            <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">Please Enter Description</div>
          </div>
        </div>

        <div class="col-xs-12 col-md-7 col-lg-7 col-sm-7">
          <p>User Access</p>
          <div class="container__child signup__form">
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">DepositINR </label>
              <input type="radio" name="DepositINR" value="1" [(ngModel)]="model.DepositINR" required #DepositINR="ngModel" />None
              <input type="radio" name="DepositINR" value="2" [(ngModel)]="model.DepositINR" required #DepositINR="ngModel" />View
              <input type="radio" name="DepositINR" value="3" [(ngModel)]="model.DepositINR" required #DepositINR="ngModel" />Change Status
              <input type="radio" name="DepositINR" value="4" [(ngModel)]="model.DepositINR" required #DepositINR="ngModel" />All Access
            </div>
            <div *ngIf="DepositINR.errors?.required && DepositINR.touched" class="alert alert-danger">Please Select Deposit Access Type</div>
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">WithdrawINR </label>
              <input type="radio" name="WithdrawINR" value="1" [(ngModel)]="model.WithdrawINR" required #WithdrawINR="ngModel" />None
              <input type="radio" name="WithdrawINR" value="2" [(ngModel)]="model.WithdrawINR" required #WithdrawINR="ngModel" />View
              <input type="radio" name="WithdrawINR" value="3" [(ngModel)]="model.WithdrawINR" required #WithdrawINR="ngModel" />change Status
              <input type="radio" name="WithdrawINR" value="4" [(ngModel)]="model.WithdrawINR" required #WithdrawINR="ngModel" />All Access
            </div>
            <div *ngIf="WithdrawINR.errors?.required && WithdrawINR.touched" class="alert alert-danger">Please Select Withdrawal Access Type</div>
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">Balances </label>
              <input type="radio" name="Balances" value="1" [(ngModel)]="model.Balances" required #Balances="ngModel" />None
              <input type="radio" name="Balances" value="2" [(ngModel)]="model.Balances" required #Balances="ngModel" />View
            </div>
            <div *ngIf="Balances.errors?.required && Balances.touched" class="alert alert-danger">Please Select Balances Access Type</div>
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">DailyIntrest </label>
              <input type="radio" name="DailyIntrest" value="1" [(ngModel)]="model.DailyIntrest" required #DailyIntrest="ngModel" />None
              <input type="radio" name="DailyIntrest" value="2" [(ngModel)]="model.DailyIntrest" required #DailyIntrest="ngModel" />View
            </div>
            <div *ngIf="DailyIntrest.errors?.required && DailyIntrest.touched" class="alert alert-danger">Please Select Daily Interest Access Type</div>
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">Referrals </label>
              <input type="radio" name="Referrals" value="1" [(ngModel)]="model.Referrals" required #Referrals="ngModel" />None
              <input type="radio" name="Referrals" value="2" [(ngModel)]="model.Referrals" required #Referrals="ngModel" />View
            </div>
            <div *ngIf="Referrals.errors?.required && Referrals.touched" class="alert alert-danger">Please Select Referrals Access Type</div>
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">Documents </label>
              <input type="radio" name="Documents" value="1" [(ngModel)]="model.Documents" required #Documents="ngModel" />None
              <input type="radio" name="Documents" value="2" [(ngModel)]="model.Documents" required #Documents="ngModel" />View
              <input type="radio" name="Documents" value="3" [(ngModel)]="model.Documents" required #Documents="ngModel" />Change Status
            </div>
            <div *ngIf="Documents.errors?.required && Documents.touched" class="alert alert-danger">Please Select Documents Access Type</div>
       
            <div class="form-group">
              <label for="fname" class=" col-md-3 col-lg-3">MarketOrders </label>
              <input type="radio" name="MarketOrders" value="1" [(ngModel)]="model.MarketOrders" required #MarketOrders="ngModel" />None
              <input type="radio" name="MarketOrders" value="2" [(ngModel)]="model.MarketOrders" required #MarketOrders="ngModel" />View
            </div>
            <div *ngIf="MarketOrders.errors?.required && MarketOrders.touched" class="alert alert-danger">Please Select Market Orders Access Type</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn--form r_button">Register</button>
        </div>
      </form>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->