.mat-header-row {
    background-color: #232d32;
    color: aliceblue;
}
table {
    width: 100%;
    margin-top: 12px;
}

.status-class{
    margin: 2px;
}

.header-nav {
    width: 18%;
}
.error-message {
    margin-left: 22px;
    color: orangered;
}

.noti-message {
    margin: 13px;
    color: #e04343;
    font-size: 17px;
}
.search-bar {
    float: right;
}
.table-x-scroll {display: block;}