<app-header></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="loader == 1" style="margin-top:15%">
    <app-loader></app-loader>
</div>

<div class="content-wrapper" *ngIf="loader == 0">
   
  <!-- <img *ngIf="loader == 1" src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:100%; width:100%"> -->
  <section class="content-header" >
    <h1>
      <p class="text-uppercase"> {{currency}} Withdrawals
      </p>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <div class="error-message">
    <h4>{{message}}</h4>
  </div>
  <section class="content" *ngIf="loader == 0">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="row">
            <div class="col-md-12" style="margin-top:20px">

              <div class="col-lg-2 col-xs-6 header-nav">
                <div class="small-box bg-aqua">
                  <a [routerLink]="['/withdrawal', currency,'all']" class="small-box-footer">All Withdrawal's
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>


              <div class="col-lg-2 col-xs-6 header-nav">
                <div class="small-box bg-green">
                  <a [routerLink]="['/withdrawal', currency, 'verified']" class="small-box-footer">Verified Withdrawal's
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-xs-6 header-nav" *ngIf="currency != 'pura'">
                <div class="small-box bg-yellow">
                  <a [routerLink]="['/withdrawal', currency, 'pending']" class="small-box-footer">Pending Withdrawal's
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-xs-6 header-nav">
                <div class="small-box bg-red">
                  <a [routerLink]="['/withdrawal', currency, 'canceled']" class="small-box-footer">Canceled Withdrawal's
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-xs-6 header-nav">
                <div class="small-box bg-primary">
                  <a class="small-box-footer"> Total Entry: {{count}} </a>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="currency != 'inr'" style="float: right; margin-right: 75px;">
              <input type="radio" [checked]=" (withdrawal_type == 0)" (click)="externalSearch(0)" name="withdrawal_type" value="0"> All
              <input type="radio" [checked]=" (withdrawal_type == 1)" (click)="externalSearch(1)" name="withdrawal_type" value="0"> External
              <input type="radio" [checked]=" (withdrawal_type == 2)" (click)="externalSearch(2)" name="withdrawal_type" value="1"> Internal
          </div>

          <div class="row box-body">
            <div class="col-md-6 text-left">
              <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
            </div>
            <div class="col-md-6 text-right">
              <div style="float: right; margin-right: 75px;">
                <input class="input-sm" type="text" (keyup)="searchResult($event)"  [(ngModel)]="model.search" placeholder="search data">
                <input type="button" id="clicked_to_search" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()" />
              </div>
            </div>
          </div>


          <div class="content table-responsive ">
            <table class="table table-bordered table-responsive" *ngIf="currency == 'inr'">
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col"><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("created")'></i>Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th>Users Current Balance</th>
                  <th scope="col"><i class="glyphicon glyphicon-sort" style="cursor:pointer" (click)='sortByAmount("amount")'></i>Amount</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Country</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inrwithdrawa of users_withdrawa | paginate: { itemsPerPage:10, currentPage: p ,totalItems: count} ; let i = index ">
                  <th>
                    <input type="checkbox" name="inrwithdrawa[]" value="{{inrwithdrawa.id}}" (change)="check(inrwithdrawa ,inrwithdrawa.bankDetails[0],inrwithdrawa.state, $event)"
                      [(ngModel)]="inrwithdrawa.state" />
                  </th>
                  <th scope="row">{{inrwithdrawa.created | date: 'dd/MM/yyyy'}}</th>
                  <td>
                    <a [routerLink]="['/userProfile',inrwithdrawa.client_id]">{{inrwithdrawa.client_id }}</a>
                  </td>
                  <td>{{inrwithdrawa.txid}}</td>
                  <td>{{inrwithdrawa.bankDetails[0]?.previous_balance}}</td>
                  <td>{{inrwithdrawa.amount}}</td>
                  <td>{{inrwithdrawa.currency}}</td>
                  <td>{{inrwithdrawa.country}}</td>
                  <td>{{inrwithdrawa.fee}}</td>
                  <td>{{inrwithdrawa.bankDetails[0]?.registered_name}}</td>
                  <td>{{inrwithdrawa.bankDetails[0]?.account_number}}</td>
                  <td>{{inrwithdrawa.bankDetails[0]?.ifsc_code}}</td>

                  <th scope="col">
                    <button class="btn btn-xs btn-warning text-capitalize status-class" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '1'">Verified</button>
                    <button class="btn btn-xs btn-danger text-capitalize" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '2'">Canceled</button>
                    <!-- if user have acceess then only he/she can change status i.e useraccess.WithdrawINR -->

                    <div *ngIf="idStatusSelected == i && useraccess.WithdrawINR >= 3">
                      <button class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(inrwithdrawa._id,1,currency)" *ngIf="inrwithdrawa.status == '0'">Verify</button>
                      <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(inrwithdrawa._id,2,currency)"
                        *ngIf="inrwithdrawa.status == '0'">Canceled</button>

                      <button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize"
                        *ngIf="inrwithdrawa.status == '0'"></button>
                    </div>

                  </th>
                </tr>
                <tr *ngIf="users_withdrawa == ''">
                  <div>
                    <p class="noti-message">No Record's Found</p>
                  </div>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th>Users Current Balance</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Country</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
            </table>

            <table class="table table-bordered table-x-scroll" *ngIf="currency == 'thb'">
              <!-- thb currency table -->
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Country</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inrwithdrawa of users_withdrawa | paginate: { itemsPerPage:10, currentPage: p ,totalItems: count} ; let i = index ">
                  <th>
                    <input type="checkbox" name="inrwithdrawa[]" value="{{inrwithdrawa.id}}" (change)="check(inrwithdrawa ,inrwithdrawa.bankDetails[0],inrwithdrawa.state, $event)"
                      [(ngModel)]="inrwithdrawa.state" />
                  </th>
                  <td>{{inrwithdrawa.date | date: 'dd/MM/yyyy'}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',inrwithdrawa.client_id]">{{inrwithdrawa.client_id }}</a>
                  </td>

                  <td>{{inrwithdrawa.txid}}</td>
                  <td>{{inrwithdrawa.amount}}</td>
                  <td>{{inrwithdrawa.currency}}</td>
                  <td>{{inrwithdrawa.country}}</td>
                  <td>{{inrwithdrawa.fee}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].registered_name}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].account_number}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].ifsc_code}}</td>
                  <th scope="col">
                    <button class="btn btn-xs btn-warning text-capitalize status-class" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '1'">Verified</button>
                    <button class="btn btn-xs btn-danger text-capitalize" (click)="id_status_toggle(i)" *ngIf="inrwithdrawa.status == '2'">Canceled</button>
                    <div *ngIf="idStatusSelected == i && useraccess.WithdrawINR >=3">


                      <button class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(inrwithdrawa._id,1,currency)" *ngIf="inrwithdrawa.status == '0'">Verify</button>
                      <button class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(inrwithdrawa._id,2,currency)" *ngIf="inrwithdrawa.status == '0'">Canceled</button>

                      <button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize"
                      *ngIf="inrwithdrawa.status == '0'"></button>
                    </div>
                  </th>
                </tr>
                <tr *ngIf="users_withdrawa == ''">
                  <div>
                    <p class="noti-message">No Record's Found</p>
                  </div>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Country</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
            </table>

            <table class="table table-bordered table-responsive table-x-scroll" *ngIf="currency == 'xrp'">
              <!-- xrp currency table -->
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Sender Address</th>
                  <th scope="col">Destination Address</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Withdrawal Type</th>
                  <th scope="col">Last Ledger Sequence</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inrwithdrawa of users_withdrawa | paginate: { itemsPerPage:10, currentPage: p, totalItems:count } ; let i = index">
                  <th>
                    <input type="checkbox" name="inrwithdrawa[]" value="{{inrwithdrawa.id}}" (change)="check(inrwithdrawa ,inrwithdrawa.bankDetails[0],inrwithdrawa.state, $event)"
                      [(ngModel)]="inrwithdrawa.state" />
                  </th>
                  <td>{{inrwithdrawa.created | date: 'dd/MM/yyyy'}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',inrwithdrawa.client_id]">{{inrwithdrawa.client_id }}</a>
                  </td>
                  <td>{{inrwithdrawa.txid}}</td>
                  <td>{{inrwithdrawa.amount}}</td>
                  <td>{{inrwithdrawa.sender_address}}</td>
                  <td>{{inrwithdrawa.destination_address}}</td>
                  <td>{{inrwithdrawa.internal_fees}}</td>
                  <td>{{inrwithdrawa.currency}}</td>
                  <td>{{inrwithdrawa.withdrawal_type}}</td>
                  <td>{{inrwithdrawa.last_ledger_sequence}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].registered_name}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].account_number}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].ifsc_code}}</td>
                  <th scope="col">
                    <button class="btn btn-xs btn-warning text-capitalize status-class" *ngIf="inrwithdrawa.status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" *ngIf="inrwithdrawa.status == '1'">Verified</button>
                    <button class="btn btn-xs btn-danger text-capitalize" *ngIf="inrwithdrawa.status == '2'">Canceled</button>
                  </th>
                </tr>
                <tr *ngIf="users_withdrawa == ''">
                  <div>
                    <p class="noti-message">No Record's Found</p>
                  </div>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Sender Address</th>
                  <th scope="col">Destination Address</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Withdrawal Type</th>
                  <th scope="col">Last Ledger Sequence</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
            </table>

          
            <table class="table table-bordered table-responsive table-x-scroll" *ngIf="currency != 'thb' && currency != 'inr' && currency != 'xrp' && currency != 'xlm'">
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Sent Address</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Type</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Confirmation</th>
                  <th scope="col">Type</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inrwithdrawa of users_withdrawa | paginate: { itemsPerPage:10, currentPage: p,totalItems: count } ; let i = index">
                  <th>
                    <input type="checkbox" name="inrwithdrawa[]" value="{{inrwithdrawa.id}}" (change)="check(inrwithdrawa ,inrwithdrawa.bankDetails[0],inrwithdrawa.state, $event)"
                      [(ngModel)]="inrwithdrawa.state" />
                  </th>
                  <th scope="row">{{inrwithdrawa.created | date: 'dd/MM/yyyy'}}</th>
                  <td>
                    <a [routerLink]="['/userProfile',inrwithdrawa.client_id]">{{inrwithdrawa.client_id }}</a>
                  </td>
                  <td>{{inrwithdrawa.txid}}</td>
                  <td>{{inrwithdrawa.sent_address}}</td>
                  <td>{{inrwithdrawa.amount}}</td>
                  <td>{{inrwithdrawa.internal_fees}}</td>
                  <td>{{inrwithdrawa.withdrawal_type}}</td>
                  <td>{{inrwithdrawa.currency}}</td>
                  <td>{{inrwithdrawa.confirmations}}</td>
                  <td>{{inrwithdrawa.type}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].registered_name}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].account_number}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].ifsc_code}}</td>
                  <th scope="col">
                    <button class="btn btn-xs btn-warning text-capitalize status-class" *ngIf="inrwithdrawa.status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" *ngIf="inrwithdrawa.status == '1'">Verified</button>
                    <button class="btn btn-xs btn-danger text-capitalize" *ngIf="inrwithdrawa.status == '2'">Canceled</button>
                  </th>
                </tr>
                <tr *ngIf="users_withdrawa == ''">
                  <td colspan="15">
                    <p class="noti-message">No Record's Found</p>
                  </td>
                </tr>
              </tbody>
              <tfoot class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Address</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Type</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Confirmation</th>
                  <th scope="col">Type</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </tfoot>
            </table>

            <table class="table table-bordered table-responsive table-x-scroll" *ngIf="currency == 'xlm'">
              <!-- xlm currency table -->
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="col">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Sender Address</th>
                  <th scope="col">Destination Address</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Ledger</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inrwithdrawa of users_withdrawa | paginate: { itemsPerPage:10, currentPage: p,totalItems: count } ; let i = index">
                  <th>
                    <input type="checkbox" name="inrwithdrawa[]" value="{{inrwithdrawa.id}}" (change)="check(inrwithdrawa ,inrwithdrawa.bankDetails[0],inrwithdrawa.state, $event)"
                      [(ngModel)]="inrwithdrawa.state" />
                  </th>
                  <td>{{inrwithdrawa.created | date: 'dd/MM/yyyy'}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',inrwithdrawa.client_id]">{{inrwithdrawa.client_id }}</a>
                  </td>
                  <td>{{inrwithdrawa.txid}}</td>
                  <td>{{inrwithdrawa.amount}}</td>
                  <td>{{inrwithdrawa.sender_address}}</td>
                  <td>{{inrwithdrawa.destination_address}}</td>
                  <td>{{inrwithdrawa.internal_fees}}</td>
                  <td>{{inrwithdrawa.currency}}</td>
                  <td>{{inrwithdrawa.ledger}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].registered_name}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].account_number}}</td>
                  <td>{{inrwithdrawa.bankDetails[0].ifsc_code}}</td>
                  <th scope="col">
                    <button class="btn btn-xs btn-warning text-capitalize status-class" *ngIf="inrwithdrawa.status == '0'">Pending</button>
                    <button class="btn btn-xs btn-success text-capitalize" *ngIf="inrwithdrawa.status == '1'">Verified</button>
                    <button class="btn btn-xs btn-danger text-capitalize" *ngIf="inrwithdrawa.status == '2'">Canceled</button>
                  </th>
                </tr>
                <tr *ngIf="users_withdrawa == ''">
                  <div>
                    <p class="noti-message">No Record's Found</p>
                  </div>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th scope="acol">Date</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">TnxID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Sender Address</th>
                  <th scope="col">Destination Address</th>
                  <th scope="col">Fees</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Ledger</th>
                  <th scope="col">Registered Name</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Ifsc Code</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
            </table>


            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--form (ngSubmit)="changeWithdrawlStatus(rowId,1,currency,withdraw,withdraw.txnId)" novalidate #registerForm="ngForm"-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Transaction ID</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" required type="text" name="l_name" [(ngModel)]="withdraw.txnId" id="txnId" placeholder="Please Enter Transaction ID">
        <!-- <p>clicked on </p> -->
      </div>
      <div class="modal-footer">
        <button id="close_withdrawal_model" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button *ngIf="withdraw.txnId.length > 5" [disabled]="!disableButton" type="button" (click)="changeWithdrawlStatus(rowId,1,currency,withdraw.txnId)"
          class="btn btn-default">Submit</button>
      </div>
      <!--/form-->
    </div>

  </div>
</div>