<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Balance Update Details
      <a [routerLink]="['/admin/recent_changes']">
        <button class="btn btn-xs btn-success text-capitalize">Check Recent Updates</button>
      </a>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Update Balances</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">
            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Client Id</th>
                  <th>Updated On</th>
                  <th>Currency</th>
                  <th>Previous balance was</th>
                  <th>Current balance was</th>
                  <th>Changed Previous Balance</th>
                  <th>Changed Current Balance</th>
                  <th>Updated By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let updbal of updBalances; let i = index">
                  <td>{{i+1}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',updbal.client_id]">{{updbal.client_id}}</a>
                  </td>
                  <td>{{updbal.updated | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{updbal.currency}}</td>
                  <td>{{updbal.previous_balance}}</td>
                  <td>{{updbal.currenct_balance}}</td>
                  <td>{{updbal.updated_previous_balance}}</td>
                  <td>{{updbal.updated_current_balance}}</td>
                  <td>{{updbal.admin_details[0]?.f_name}} {{updbal.admin_details[0]?.l_name}}</td>
                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Client Id</th>
                  <th>Updated On</th>
                  <th>Currency</th>
                  <th>Previous balance was</th>
                  <th>Current balance was</th>
                  <th>Changed Previous Balance</th>
                  <th>Changed Current Balance</th>
                  <th>Updated By</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>