<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- <img *ngIf="loader == 1" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="height:100%; width:100%"> -->

<div class="content-wrapper">
  <aside class="right-side">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="addManualWithdrawal(withdrawal)" novalidate #depositForm="ngForm">
            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Manual Deposit</h3>
                  <br>
                </div>
                <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>

                <div class="box-body">
                  <div class="form-group">
                    <label>Client ID</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <!-- <div class="form-group" data-validate="client_id is required"> -->
                      <input #client_id="ngModel" maxlength="8" name="client_id" [(ngModel)]="withdrawal.client_id" (keyup)="withdrawal.client_id.length > 4 ? getclientName(withdrawal.client_id) : 0"
                        required placeholder="client ID" type="text" class="form-control" pattern="[0-9]*">
                      <!-- </div> -->
                    </div>
                  </div>
                  <div *ngIf="client_id.errors?.required && client_id.touched" class="alert alert-danger">Please Enter Client Id</div>
                  <div *ngIf="client_id.errors?.pattern && client_id.touched" class="alert alert-danger">Please Enter Numbers Only</div>

                  <div class="form-group">
                    <label>User Name</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input readonly name="client_id" placeholder="User Name is" value="{{full_name}}" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                      <label>Country</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-laptop"></i>
                    </div>
                    <select name="currency" [(ngModel)]="withdrawal.country" class="form-control" placeholder="Select Country">
                      <option value="" disabled> Select Country </option>
                      <option value="india"> INDIA </option>
                      <!-- <option value="thailand"> Thailand </option> -->
                    </select>
                  </div>
                </div>

                  <div class="form-group">
                    <label>Currency</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <select name="currency" [(ngModel)]="withdrawal.currency" class="form-control" placeholder="Select Currency">
                        <option value="" disabled> Select Currency </option>
                        <!-- <option value="btc"> BTC </option> -->
                        <option value="inr"> INR </option>
                        <!-- <option value="xrp"> XRP </option>
                        <option value="xlm"> XLM </option>
                        <option value="bch"> BCH </option>
                        <option value="btg"> BTG </option>
                        <option value="ltc"> LTC </option>
                        <option value="thb"> THB </option> -->
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #amount="ngModel" [(ngModel)]="withdrawal.amount" required pattern="\d+(\.\d{1,8})?" name="amount" placeholder="Enter Amount"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div *ngIf="amount.errors?.required && amount.touched" class="alert alert-danger">Please Enter Amount</div>
                  <div *ngIf="amount.errors?.pattern && amount.touched" class="alert alert-danger">Please Enter Numbers Only (Max 8 Decimals)</div>
                  <div *ngIf="withdrawal.currency == 'xrp' || withdrawal.currency == 'xlm'">
                    <div class="form-group">
                      <label>Sender Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.sender_address" name="sender_address" placeholder="Sender Address" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Destination Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.destination_address" name="destination_address" placeholder="Destination Address" type="text"
                          class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Destination Tag</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.destination_tag" name="destination_tag" placeholder="Destination Tag" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Signing Public Key</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.signing_pub_key" name="signing_pub_key" placeholder="Signing Public Key" type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Transaction Type</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.transaction_type" name="transaction_type" placeholder="Transaction Type" type="text" class="form-control">
                      </div>
                    </div>


                    <div class="form-group">
                      <label>Sequence</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.sequence" name="sequence" placeholder="Sequence" type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Hash</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.hash" name="hash" placeholder="hash" type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Last Ledger Sequence</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.last_ledger_sequence" name="last_ledger_sequence" placeholder="Last Ledger Sequence" type="text"
                          class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Transaction Date</label>
                    <div class="input-group">
                      <div class="input-group-addon" style="border-right:10px !important">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <mat-form-field class="example-full-width" style="margin-left:10px">
                        <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="withdrawal.transaction_date"
                          [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="txDate.errors?.required && txDate.touched" class="alert alert-danger">Please Enter Transaction Date</div>

               
                  <div *ngIf="withdrawal.currency == 'btc' || withdrawal.currency == 'bch' || withdrawal.currency == 'btg' ||  withdrawal.currency == 'ltc'">
                    <div class="form-group">
                      <label>Sent Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="withdrawal.sent_address" name="sent_address" placeholder="Sent Address" type="text" class="form-control">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Comments</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="withdrawal.comments" name="comments" placeholder="Coments" type="text" class="form-control">
                    </div>
                  </div>
                  <div *ngIf="comments.errors?.required && comments.touched" class="alert alert-danger">Please Enter Reason for Deposit Or Comment</div>
                  <!-- <div class="form-group">
                    <label>Status</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <select #status="ngModel" required name="currency" [(ngModel)]="withdrawal.status" class="form-control" placeholder="Select Status">
                        <option value="" disabled> Select Status </option>
                        <option *ngIf="withdrawal.currency !='inr'" value="1"> Confirm </option>
                        <option *ngIf="withdrawal.currency =='inr'" value="0"> Pending </option>
                      </select>
                    </div>
                  </div> -->
                  <!-- <div *ngIf="withdrawal.status" class="alert alert-danger">Please Select Status</div> -->
                  <div class="modal-footer clearfix">
                    <button [disabled]="!disableButton" [disabled]="!depositForm.form.valid" *ngIf="withdrawal.client_id?.length > 4" type="submit"
                      class="btn btn-primary pull-left">
                      <i class="fa fa-envelope"></i> Save
                    </button>
                    <!-- {{depositForm.form.valid}} -->
                    <button [disabled]="!depositForm.form.valid" *ngIf="withdrawal.client_id?.length < 5" disabled type="submit" class="btn btn-primary pull-left">
                      <i class="fa fa-envelope"></i> Save
                    </button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </aside>
</div>