<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <!-- <a  [routerLink]="['/body']"><h3>Dashboard</h3></a> -->
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <span style="color:white; display: block" class="text-center">{{client_search_message}}</span>

                        <!-- <div *ngIf="search_loader == 0">
                                <img src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:10px; width:100%">
                                <app-loader></app-loader>
                            </div> -->


                        <input style="color:rgb(173, 113, 113)" class="input-sm" type="text" [(ngModel)]="model.search" (keyup)="searchResult($event, model.search)"
                            placeholder="Search For Specific User">

                        <input style="color:black" [disabled]="!enableSearchButton" class="btn-info btn-success" id="searchData" type="button" (click)="searchByCI(model.search)"
                            value="search" />

                        <a *ngIf="user.type == 'admin'" [routerLink]="['/admin/CompanyBank']">
                            <i class="fa fa-file-text-o"></i>
                            Company Bank
                        </a>
                    </li>
                    <li *ngIf="user.type == 'admin'">
                        <a href="#setting" data-toggle="collapse" aria-expanded="false" *ngIf="user.type == 'admin'">
                            <i class="glyphicon glyphicon-cog"></i>
                            Settings
                        </a>

                        <ul class="collapse list-unstyled" id="setting">
                            <li>
                                <a [routerLink]="['/admin/settings']">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Currencies Settings
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/admin/tutorialLinks']">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Tutorials Settings
                                </a>
                            </li>
                            <!-- <li *ngIf="user._id == '5aace1619d03b0001496a187' || user._id == ''"> -->
                            <li>
                                <a [routerLink]="['/admin/updatedRecords']">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Updated Records (Balances)
                                </a>
                            </li>
                          
                            <!-- <li>
                                <a [routerLink]="['/admin/recent_changes']">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Recent Changes
                                </a>
                            </li> -->
                            <li>
                                <a [routerLink]="['/admin/manage_tx_ids']">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Manage Transaction IDS
                                </a>
                            </li>
                          
                        </ul>

                        <a *ngIf="user.type == 'admin'" [routerLink]="['/sign_up']">
                            <i class="fa fa-user-plus"></i>Create New Admin
                        </a>
                    </li>
                    <li>
                            <a [routerLink]="['/data-filter']">
                                <i class="glyphicon glyphicon-cog"></i>
                                Data Filter
                            </a>
                        </li>
                    <li>
                        <a [routerLink]="['/kyc']">
                            <i class="fa fa-file-text-o"></i>
                            KYC
                        </a>
                    </li>

                    <li class="" *ngIf="useraccess.DepositINR !=1">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="fa fa-bank"></i>
                            Deposits
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li *ngFor="let currency of currencies" class="text-uppercase">
                                <!-- <a [routerLink]="['/deposit',currency,'confirm']">{{currency}} Deposits</a> -->

                                <a *ngIf="currency != 'inr' && currency != 'thb'" [routerLink]="['/deposit',currency,'confirm']">{{currency}} Deposits</a>
                                <a *ngIf="currency == 'inr' || currency == 'thb'" [routerLink]="['/deposit',currency,'all']">{{currency}} Deposits</a>

                            </li>
                            <li *ngIf="user.type == 'admin'">
                                <a [routerLink]="['/Manual_deposit']">Manual Deposits</a>
                            </li>
                        </ul>
                    </li>
                    <li class="" *ngIf="useraccess.WithdrawINR !=1">
                        <a href="#withdrawalmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="fa fa-bank"></i>
                            Withdrawal
                        </a>
                        <ul class="collapse list-unstyled" id="withdrawalmenu">
                            <li *ngFor="let currency of currencies" class="text-uppercase">
                                <a *ngIf="currency != 'inr' && currency != 'thb'" [routerLink]="['/withdrawal',currency,'confirm']">{{currency}} Withdrawals</a>
                                <a *ngIf="currency == 'inr' || currency == 'thb'" [routerLink]="['/withdrawal',currency,'all']">{{currency}} Withdrawals</a>
                            </li>
                            <li *ngIf="user.type == 'admin'">
                                <a [routerLink]="['/Manual_withdrawal']">Manual Withdrawal</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                            <a [routerLink]="['/payout_withdrawals']">
                                <i class="glyphicon glyphicon-cog"></i>
                                Payout Withdrawals
                            </a>
                        </li>

                    <li>
                        <a [routerLink]="['/userList']">
                            <i class="fa fa-users"></i>
                            Users List
                        </a>
                        <a *ngIf="useraccess.Balances !=1" [routerLink]="['/userbalances']">
                            <i class="fa fa-money"></i>
                            Users Balances
                        </a>
                        <a *ngIf="useraccess.DailyIntrest !=1" [routerLink]="['/interest']">
                            <i class="glyphicon glyphicon-plus"></i>
                            Daily interests
                        </a>
                    </li>

                    <li>
                        <a href="#trade" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-home"></i>
                            Trade
                        </a>
                        <ul class="collapse list-unstyled" id="trade">
                            <li *ngFor="let sideTrade of trade" class="text-uppercase">
                                <a [routerLink]="['/trade',sideTrade]">{{sideTrade}}</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a *ngIf="useraccess.Referrals !=1" [routerLink]="['/referral']">
                            <i class="fa fa-sitemap"></i>
                            Referral
                        </a>
                        <a [routerLink]="['/all/uploads']">
                            <i class="fa fa-cloud-upload"></i>
                            Deposit BTC (Excel)
                        </a>
                        <a [routerLink]="['/email']">
                            <i class="glyphicon glyphicon-envelope"></i>
                            Send email
                        </a>
                        <a [routerLink]="['/notifications']">
                            <i class="fa fa-bullhorn"></i>
                            Send notification
                        </a>
                        <a [routerLink]="['/payout/history']">
                            <i class="fa fa-bullhorn"></i>
                            Payout history
                        </a>
                        <a [routerLink]="['/transactions_history', 'ripple']">
                            <i class="glyphicon glyphicon-ok"></i>
                            Ripple Transactions
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>