<app-header></app-header>
<app-sidebar></app-sidebar>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a>File Upload</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <form>
              
              <div class="form-group">
                  <label for="single">single</label>
                  <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
              </div>            
          </form> -->
    </div>
    <div class="col-md-8">

      Queue length: {{ uploader?.queue?.length }}
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span *ngIf="item.isCancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
              <span *ngIf="item.isError">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          Queue progress:
          <div class="progress" >
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        
          <div>
            <form>
              <div class="form-group">
                <label for="single">single</label>
                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
                <br/>
                <button (click)="exportToExcel()" [disabled]="buttonState()"  class="btn btn-primary">Export to excel</button>
                <table class="table table-bordered table-responsive" [hidden]="!IShow" >
                  <!-- int currency table -->
                  <thead class="mat-header-row">
                    <tr>
                      <th><input type="checkbox" name="all" (change)="checkAll($event)" /></th>
                      <th>Client Id</th>
                      <th>Amount</th>
                      <th>Txid</th>
                      <th>Sent_address</th>
                      <th>Transaction_date</th>
                      <th>Created</th>
                      <th>Updated</th>
                      <th>Withdrawal_type</th>
                      <th>Confirmations</th>
                      <th>Status</th>
                      <th>Currency</th>
                      <th>Type</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ref of filesData let myIndex = index">
                        <th><input type="checkbox" name="ref[]" value="{{ref.id}}" (change)="check(ref,ref.state, $event)" [(ngModel)]="ref.state"/></th>
                      
                      <td>{{ref.client_id}}</td>
                      <td>{{ref.amount}}</td>
                      <td>{{ref.txid}}</td>
                      <td>{{ref.sent_address}}</td>
                      <td>{{ref.transaction_date}}</td>
                      <td>{{ref.created}}</td>
                      <td>{{ref.updated}}</td>
                      <td>{{ref.withdrawal_type}}</td>
                      <td>{{ref.confirmations}}</td>
                       <td>{{ref.status}}</td>
                      <td>{{ref.currency}}</td>
                      <td>{{ref.type}}</td>
                      </tr>
                     
                    <tr *ngIf="data == ''">
                      <div>
                        <p class="noti-message">No Record's Fount</p>
                      </div>
                    </tr>
                  </tbody>
                  <thead class="mat-header-row">
                      <tr>
                          <th><input type="checkbox" name="all" (change)="checkAll($event)" /></th>
                          <th>Client Id</th>
                          <th>Amount</th>
                          <th>Txid</th>
                          <th>Sent_address</th>
                          <th>Transaction_date</th>
                          <th>Created</th>
                          <th>Updated</th>
                          <th>Withdrawal_type</th>
                          <th>Confirmations</th>
                          <th>Status</th>
                          <th>Currency</th>
                          <th>Type</th>
                        </tr>
                  </thead>
                </table>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>