<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="content-wrapper">
  <section class="content box" style="border-top:none !important">
    <div class="row box-body">
      <!-- <div class="col-md-6 text-left">
        <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
      </div> -->
      <form (ngSubmit)="serchData(data_filter)" #depositForm="ngForm">
        <div class="col-md-12">
          <div class="col-md-2">
            Client ID
            <input class="form-control" type="text" [(ngModel)]="data_filter.client_id" placeholder="Client ID" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-2">
            Search For
            <select class="form-control" [(ngModel)]="data_filter.search_for" [ngModelOptions]="{standalone: true}" placeholder="Select Type">
              <option disabled value=""> Select To Search </option>
              <option value="deposit"> Deposits </option>
              <option value="withdrawal"> Withdrawals </option>
              <option value="trade"> Trades </option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Start Date</label>
              <div class="input-group">
                <mat-form-field class="example-full-width" style="margin-left:10px">
                  <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="data_filter.start_date"
                    [matDatepicker]="picker" [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Till Date</label>
              <div class="input-group">
                <mat-form-field class="example-full-width" style="margin-left:10px">
                  <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="data_filter.end_date"
                    [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <button *ngIf="data_filter.search_for" type="submit" class="btn btn-primary pull-left">
              <i class="fa fa-envelope"></i> Search
            </button>
            <span *ngIf="!data_filter.search_for" class="pull-left">
              <i class="fa fa-envelope"></i> Please Select What you want to search
              <span style="color:red">(Search For)</span>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Needs to select SEARCH FOR , this is to select what you want to search</li>
          <li>You can search with client Id. If client id is not entered filter will show all users records</li>
          <li>You can search for specific dates. If dates are not entered Filter will display records of current month</li>
          <li>Searching with dates :- Start date will be the date you want to start from and end date will be the date till you want to search.<br> (If you want to search till 21/06/2018 then end date must :- 22/06/2018)</li>
          
        </ul>
      </div>
    </div>

    <div class="content box-body" *ngIf="loader == 1">
      <app-loader></app-loader>
    </div>

    <div class="content box-body" *ngIf='deposits_data && loader == 0'>
      <button (click)="exportToExcel()" *ngIf='deposits_data' class="btn btn-primary">Export to excel</button>
      <table class="table table-bordered table-responsive">

        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAll($event)" />
            </th>

            <th>Sr No</th>
            <th>Date</th>
            <th>client_id</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Withdrawal Type</th>
            <th>Type</th>
            <th>TXN ID</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let dep of deposits_data ; let i = index ">
            <th>
              <input type="checkbox" name="dep[]" value="{{dep.id}}" (change)="check(dep, dep.state, $event)" [(ngModel)]="dep.state" />
            </th>
            <td>{{i + 1}}</td>
            <td>{{dep.created | date: 'MM/dd/yyyy'}}</td>
            <td>{{dep.client_id}}</td>
            <td>{{dep.currency}}</td>
            <td>{{dep.amount}}</td>
            <td>{{dep.withdrawal_type}}</td>
            <td>{{dep.type}}</td>
            <td>{{dep.txid}}</td>
            <td *ngIf='dep.status == 0'>Pending</td>
            <td *ngIf='dep.status == 1'>Completed</td>
            <td *ngIf='dep.status == 2'>Cancelled</td>
          </tr>
        </tbody>
      </table>
    </div>



    <div class="content box-body" *ngIf='tradesearch_data && loader == 0'>
      <button (click)="exportToExcel()" *ngIf='tradesearch_data' class="btn btn-primary">Export to excel</button>
      <table class="table table-bordered table-responsive">

        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAllTrade($event)" />
            </th>

            <th>Sr No</th>
            <th>Date</th>
            <th>client_id</th>
            <th>Status</th>
            <th>Pair</th>
            <th>Rate</th>
            <th>Execution Rate</th>
            <th>Quantity</th>
            <th>Progress</th>
            <th>Trade Type</th>
            <th>Order Type</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let dep of tradesearch_data ; let i = index ">
            <th>
              <input type="checkbox" name="dep[]" value="{{dep.id}}" (change)="check(dep, dep.state, $event)" [(ngModel)]="dep.state" />
            </th>
            <td>{{i + 1}}</td>
            <td>{{dep.created | date: 'MM/dd/yyyy'}}</td>
            <td>{{dep.client_id}}</td>
            <td>{{dep.type}}</td>
            <td>{{dep.pair}}</td>
            <td>{{dep.rate}}</td>
            <td>{{dep.exec_rate}}</td>
            <td>{{dep.quantity}}</td>
            <td>{{dep.progress}}</td>
            <td>{{dep.trade_type}}</td>
            <td>{{dep.order_type}}</td>
            <td *ngIf='dep.status == 0'>Empty</td>
            <td *ngIf='dep.status == 1'>Filling</td>
            <td *ngIf='dep.status == 2'>Filled</td>
            <td *ngIf='dep.status == 3'>Cancelled</td>
          </tr>
        </tbody>
      </table>
    </div>



    <!-- {{deposits_data|json}} -->
  </section>
</div>