<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h3>
      Transaction History - {{currency}}
      <small>Control panel</small>    
        <small><span style="float: right"> Search: <input type="text" #searchFilter (keyup)="0" /> </span></small> 

    </h3>
    <input type="text" [(ngModel)]="model.limit" placeholder="Enter Limit">
    <input type="button" value="Select" (click)="get_transactions(model.limit)" />

  </section>
  <div class="error-message">
    <h4>{{message}}</h4>
  </div>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="content">
      <table class="table table-bordered table-responsive tranx-table">
        <!-- int currency table -->
        <thead class="mat-header-row">
          <tr>
            <th scope="col">id</th>
            <th scope="col" style="width:10px">hash</th>
            <th scope="col">DestinationTag</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
            <th scope="col">Origin Account</th>
            <th scope="col">Destination</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of currency_trans | searchPipe : searchFilter.value | paginate: { itemsPerPage:15, currentPage: p } ; let i = index">
          <!-- <tr *ngFor="let data of currency_trans | filter:searchFilter | paginate: { itemsPerPage:15, currentPage: p } ; let i = index"> -->
            <td>{{i+1}}</td>
            <td>{{data.hash}}</td>
            <td>{{data.DestinationTag}}</td>
            <td>{{(data.Amount/10000000).toFixed(6)}}</td>
            <td>{{(data.Fee/10000000).toFixed(6)}}</td>
            <td>{{data.Account}}</td>
            <td>{{data.Destination}}</td>
          </tr>
          <tr *ngIf="currency_trans == ''">
            <div>
              <p class="noti-message">No Record's Fount</p>
            </div>
          </tr>
        </tbody>
        <thead class="mat-header-row">
          <tr>
            <th scope="col">id</th>
            <th scope="col">hash</th>
            <th scope="col">DestinationTag</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
            <th scope="col">Origin Account</th>
            <th scope="col">Destination</th>
          </tr>
        </thead>
      </table>
      <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  </section>
</div>