<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- <img *ngIf="loader == 1" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="height:100%; width:100%"> -->

<div class="content-wrapper">
  <aside class="right-side">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="addManualDeposit(deposit)" novalidate #depositForm="ngForm">
            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Manual Deposit</h3>
                  <br>
                </div>
                <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>

                <div class="box-body">
                  <div class="form-group">
                    <label>Client ID</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <!-- <div class="form-group" data-validate="client_id is required"> -->
                      <input #client_id="ngModel" maxlength="8" name="client_id" [(ngModel)]="deposit.client_id" (keyup)="deposit.client_id.length > 4 ? getclientName(deposit.client_id) : 0"
                        required placeholder="client ID" type="text" class="form-control" pattern="[0-9]*">
                      <!-- </div> -->
                    </div>
                  </div>
                  <div *ngIf="client_id.errors?.required && client_id.touched" class="alert alert-danger">Please Enter Client Id</div>
                  <div *ngIf="client_id.errors?.pattern && client_id.touched" class="alert alert-danger">Please Enter Numbers Only</div>

                  <div class="form-group">
                    <label>User Name</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input readonly name="client_id" placeholder="User Name is" value="{{full_name}}" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Currency</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <select name="currency" [(ngModel)]="deposit.currency" class="form-control" placeholder="Select Currency">
                        <option value="" disabled> Select Currency </option>

                        <!-- currencies -->
                        <option *ngFor="let currency of currencies" value="{{currency}}" class="text-uppercase">
                          {{currency}}
                        </option>

                        <!-- <option value="btc"> BTC </option>
                        <option value="inr"> INR </option>
                        <option value="xrp"> XRP </option>
                        <option value="xlm"> XLM </option>
                        <option value="bch"> BCH </option>
                        <option value="btg"> BTG </option>
                        <option value="ltc"> LTC </option>
                        <option value="pura"> PURA </option>
                        <option value="dash"> DASH </option>
                        <option value="ada"> ADA </option>
                        <option value="eth"> ETH </option>
                        <option value="thb"> THB </option> -->
                        
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #amount="ngModel" [(ngModel)]="deposit.amount" maxlength="10" required pattern="\d+(\.\d{1,8})?" name="amount" placeholder="Enter Amount"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div *ngIf="amount.errors?.required && amount.touched" class="alert alert-danger">Please Enter Amount</div>
                  <div *ngIf="amount.errors?.pattern && amount.touched" class="alert alert-danger">Please Enter Numbers Only (Max 8 Decimals)</div>
                  <div class="form-group">
                    <label>Transaction ID</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #txid="ngModel" [(ngModel)]="deposit.txid" required name="txid" placeholder="Enter Transaction ID" type="text" class="form-control">
                    </div>
                  </div>
                  <div *ngIf="txid.errors?.required && txid.touched" class="alert alert-danger">Please Enter Transaction Id</div>
                  <!--  <div *ngIf="txid.errors?.pattern && txid.touched" class="alert alert-danger">Please Enter Numbers Only (Max 8 Decimals)</div> -->

                  <div *ngIf="deposit.currency == 'xrp' || deposit.currency == 'xlm'">
                    <div class="form-group">
                      <label>Sender Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="deposit.sender_address" name="sender_address" placeholder="Sender Address" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Destination Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="deposit.destination_address" name="destination_address" placeholder="Destination Address" type="text"
                          class="form-control">
                      </div>
                    </div>

                  
                    <div class="form-group">
                      <label>Hash</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="deposit.hash" name="hash" placeholder="hash" type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Transaction Date</label>
                    <div class="input-group">
                      <div class="input-group-addon" style="border-right:10px !important">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <mat-form-field class="example-full-width" style="margin-left:10px">
                        <input #txDate="ngModel" required class="form-controll" name="transaction_date" matInput [(ngModel)]="deposit.transaction_date"
                          [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="txDate.errors?.required && txDate.touched" class="alert alert-danger">Please Enter Transaction Date</div>

                  <div *ngIf="deposit.currency == 'inr'" class="form-group">
                    <label>Bank</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <select name="bank" [(ngModel)]="deposit.bank" class="form-control" placeholder="Select Payment Method">
                        <option value="" disabled> Select Payment Method </option>
                        <option value="payU"> PayU </option>
                        <option value="bank"> Bank </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="deposit.currency == 'btc' || deposit.currency == 'bch' || deposit.currency == 'btg' ||  deposit.currency == 'ltc'">
                    <div class="form-group">
                      <label>Sent Address</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-laptop"></i>
                        </div>
                        <input [(ngModel)]="deposit.sent_address" name="sent_address" placeholder="Sent Address" type="text" class="form-control">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Comments</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-laptop"></i>
                      </div>
                      <input #comments="ngModel" required [(ngModel)]="deposit.comments" name="comments" placeholder="Coments" type="text" class="form-control">
                    </div>
                  </div>
                  <div *ngIf="comments.errors?.required && comments.touched" class="alert alert-danger">Please Enter Reason for Deposit Or Comment</div>
                
                  <div class="modal-footer clearfix">
                    <button [disabled]="!disableButton || !depositForm.form.valid || !isClientIdValid" type="submit" class="btn btn-primary pull-left">
                      <i class="fa fa-envelope"></i> Save
                    </button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </aside>

  





</div>