<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <img *ngIf="processing == 1" src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:100%; width:100%">

    <section class="content-header">
        <h1>
            <p class="text-uppercase"> User Balances</p>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title text-uppercase">Balances</h3>
                        <div style="float: right"> Total Records: {{count}} </div>

                        <div style="float: right; margin-right: 75px;">
                            <input class="input-sm" type="text" (keyup)="searchResult($event)" [(ngModel)]="model.search" placeholder="search data">
                            <input id="searchData" type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()" />
                        </div>
                    </div>



                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead class="mat-header-row">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="all" (change)="checkAll($event)" />
                                    </th>
                                    <th>Client ID</th>
                                    <th>Email</th>
                                    <th>Full Name</th>
                                    <th *ngFor="let currencies_are of currencies" class="text-uppercase">{{currencies_are}}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let deposits of users_balance | paginate: { itemsPerPage:10, currentPage: pageNo ,totalItems:count } ; let i = index ">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="deposits[]" value="{{deposits.id}}" (change)="check(deposits ,deposits.balances,deposits.state, $event)"
                                            [(ngModel)]="deposits.state" />
                                    </th>
                                    <td>
                                        <a [routerLink]="['/userProfile',deposits.client_id]">{{deposits.client_id }}</a>
                                    </td>
                                    <td>{{deposits.email}}</td>
                                    <td>{{deposits.full_name}}</td>

                                    <td *ngFor="let currencies_are of currencies">
                                        {{deposits.bala[currencies_are]}}
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="all" (change)="checkAll($event)" />
                                        </th>
                                        <th>Client ID</th>
                                        <th>Email</th>
                                        <th>Full Name</th>
                                        <th *ngFor="let currencies_are of currencies" class="text-uppercase">{{currencies_are}}</th>
                                    </tr>
                                </tfoot>
                        </table>
                        <div class="has-text-centered">
                            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                            <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>