<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Tutorial Links
      <!-- <a [routerLink]="['/admin/AddCompanyBank']"> -->
      <button type="button" (click)='addLinks()' class="btn btn-xs btn-success text-capitalize">Add Tutorial Link</button>
      <!-- </a> -->

      <!-- <button [disabled]="!disableButton" type="button" class="btn btn-sm btn-warning text-capitalize" (click)='addLinks()'>
        <i class="glyphicon glyphicon-edit"></i>
      </button> -->

      <button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize">
        open model
      </button>


    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">
            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Created On</th>
                  <th>Title</th>
                  <th>Link</th>
                  <th>Description</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tut of trade_tutorials; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{tut.created | date: 'dd/MM/yyyy'}}</td>
                  <td>{{tut.title}}</td>
                  <td>{{tut.link}}</td>
                  <td>{{tut.description}}</td>
                  <td>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(i, 0, 'trade')"
                      *ngIf="tut.status == 1">Active</button>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(i, 1, 'trade')" *ngIf="tut.status == 0">Not Active</button>

                    <!-- <button [disabled]="!disableButton" type="button" class="btn btn-sm btn-warning text-capitalize" (click)='updateTutorial(tut.id, "trade")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button> -->
                    
                  </td>
                </tr>
                <tr>
                  <th colspan="6" class="text-center"> KYC Links </th>
                </tr>
                <tr *ngFor="let tut of kyc; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{tut.created | date: 'dd/MM/yyyy'}}</td>
                  <td>{{tut.title}}</td>
                  <td>{{tut.link}}</td>
                  <td>{{tut.description}}</td>
                  <td>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeStatus(i, 0, 'kyc')" *ngIf="tut.status == 1">Active</button>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeStatus(i, 1, 'kyc')" *ngIf="tut.status == 0">Not Active</button>
                  </td>
                </tr>


              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Created On</th>
                  <th>Title</th>
                  <th>Link</th>
                  <th>Description</th>
                  <th>Status</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Tutorial Links</h4>
        </div>
        <form (ngSubmit)="saveTutorial(tutorial)" novalidate #depositForm="ngForm">
          <div class="box box-danger">

            <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>
            <div class="box-body">

              <div class="form-group">
                <label>Title</label>
                <select name="currency" [(ngModel)]="tutorial.type" class="form-control" placeholder="Select Link Type">
                  <option value="" disabled> Select Link Type </option>
                  <option value="trade" class="text-uppercase"> Trade </option>
                  <option value="kyc" class="text-uppercase"> KYC </option>
                  <option value="interest " class="text-uppercase"> Interest </option>
                </select>
              </div>

              <div class="form-group">
                <label>Title</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="tutorial.title" name="title" placeholder="Title" type="text" class="form-control">

                  <!-- <input #id="ngModel" required [(ngModel)]="addbank._id" name="_id" placeholder="ID" type="text" class="form-control hidden"> -->
                </div>
              </div>

              <div class="form-group">
                <label>Link</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="tutorial.link" name="link" placeholder="link" type="text" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label>Description</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="tutorial.description" name="description" placeholder="Description" type="text"
                    class="form-control">
                </div>
              </div>

              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>