<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="content-wrapper">
  <div class="row-offcanvas row-offcanvas-left">
    <aside class="right-side">
      <section class="content-header">
        <h1>
          Schema Details
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-dashboard"></i> Home</a>
          </li>
          <li>
            <a href="#">Forms</a>
          </li>
          <li class="active">General Elements</li>
        </ol>
      </section>
      <section class="content">

        <div class="row">
          <!-- <div class="col-md-4">
            <div class="box box-primary">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="mat-header-row">
                  <tr>
                    <th colspan="2" class="text-center" style="font-size:20px; background-color:bisque">Withdrawal Currencies
                      <button type="button" class="btn btn-sm btn-warning text-capitalize" (click)='addCurrency("other")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let currency of currencies">
                    <td>{{currency}}</td>
                    <td>{{withdrawals[currency]}}</td>

                  </tr>
                </thead>
              </table>
            </div>
          </div>



          <div class="col-md-4">
            <div class="box box-primary">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="mat-header-row">
                  <tr>
                    <th colspan="2" class="text-center" style="font-size:20px; background-color:bisque">Confirm Deposits
                      <button type="button" class="btn btn-sm btn-warning text-capitalize" (click)='addCurrency("other")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let currency of currencies">
                    <td>{{currency}}</td>
                    <td>{{con_deposits[currency]}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box box-primary">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="mat-header-row">
                  <tr>
                    <th colspan="2" class="text-center" style="font-size:20px; background-color:bisque">UnConfirm Deposits
                      <button type="button" class="btn btn-sm btn-warning text-capitalize" (click)='addCurrency("other")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let currency of currencies">
                    <td>{{currency}}</td>
                    <td>{{uncon_deposits[currency]}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="box box-primary">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="mat-header-row">
                  <tr>
                    <th class="text-center" style="font-size:20px; background-color:bisque">Currencies List
                          <button type="button" class="btn btn-sm btn-success text-capitalize" (click)='addCurrency("currency")'>
                              <i class="glyphicon glyphicon-plus"></i>
                            </button>
                    </th>
                  </tr>
                  <tr *ngFor="let currency of currencies; let i = index">
                    <th>{{currency}}</th>
                    <!-- <td>
                      <button type="button" class="btn btn-sm btn-warning text-capitalize" (click)='editCurrency(currency, i, 1)'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button>
                    </td> -->

                    <td *ngIf="update_currency == currency && show == 1">
                      <input #updateBalnace="ngModel" maxlength="22" [(ngModel)]="upd.currency" required name="update_currency" type="text" class="form-control">
                      <button [disabled]="!disableButton" type="button" class="btn btn-sm btn-danger text-capitalize" (click)='editCurrency(currency, i, 0)'>
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                      <!-- <button [disabled]="!disableButton" *ngIf="update_currency == currency" type="button" style="float:left;" class="btn btn-sm btn-danger text-capitalize"
                          (click)='updateBalance(bal.currency,"0")'>
                          <i class="glyphicon glyphicon-remove"></i>
                      </button> -->
                      <button [disabled]="!disableButton" *ngIf="update_currency == currency" type="button" (click)=saveUpdateCurrency(upd.currency) class="btn btn-sm btn-success pull-left">
                        <i class="glyphicon glyphicon-ok"></i>
                      </button>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-primary" style="height: 675px;overflow: scroll;">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="mat-header-row">
                  <tr>
                    <th class="text-center" style="font-size:20px; background-color:bisque">Currency Pairs For Trade

                      <button type="button" class="btn btn-sm btn-warning text-capitalize" (click)='addCurrency("trade_pair")'>
                        <i class="glyphicon glyphicon-edit"></i>
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let sideTrade of trade">
                    <th>{{sideTrade}}</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </section>
    </aside>
  </div>
</div>


<button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize">
  open model
</button>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="type == 'currency'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Currency</h4>
        </div>
        <form (ngSubmit)="addCurrencyName(add_currency)" novalidate #depositForm="ngForm">
          <div class="box box-danger">
            <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>
            <div class="box-body">
              <div class="form-group">
                <label>Currency Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="add_currency.name" name="currency_name" placeholder="Currency Name" type="text"
                    class="form-control">
                  <input #comments="ngModel" required [(ngModel)]="add_currency.type" name="type" type="text" class="form-control hidden">
                </div>
              </div>
              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>



      <div *ngIf="type == 'trade_pair'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Trade Pair</h4>
        </div>
        <form (ngSubmit)="addCurrencyName(add_trade_pair)" novalidate #depositForm="ngForm">
          <div class="box box-danger">
            <p style="color:blue; font-size:21px" class="text-center box-title">{{currency_settings}}</p>
            <div class="box-body">
              <div class="form-group">
                <label>Pair Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="add_trade_pair.trade_pair" name="trade_pair" placeholder="Pair Name" type="text"
                    class="form-control">
                  <input #comments="ngModel" required [(ngModel)]="add_trade_pair.type" name="type" type="text" class="form-control hidden">
                </div>
              </div>
              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>



      <div *ngIf="type == 'other'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add </h4>
        </div>
        <form (ngSubmit)="addCurrencyName(other)" novalidate #depositForm="ngForm">
          <div class="box box-danger">
            <p style="color:blue; font-size:21px" class="text-center box-title">{{currency_settings}}</p>
            <div class="box-body">
              <div class="form-group">
                <label>Pair Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>

                  <select name="schema_type" [(ngModel)]="other.schema_type" class="form-control" placeholder="Select Type">
                    <option value="" disabled> Select Schema Type </option>
                    <option value="withdrawals"> Withdrawals </option>
                    <option value="con_deposits"> Confirm Deposits </option>
                    <option value="uncon_deposits"> Unconfirm Deposits </option>
                  </select>
                </div>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <select name="currency" [(ngModel)]="other.currency" class="form-control" placeholder="Select For Currency">
                    <option value="" disabled>Select Currency</option>
                    <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
                  </select>
                </div>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="other.schema_name" name="trade_pair" placeholder="Schema Name" type="text"
                    class="form-control">
                  <input #comments="ngModel" required [(ngModel)]="other.type" name="type" type="text" class="form-control hidden">
                </div>
              </div>
              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>