    .threed{
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: inline-block;
       }
        .three {
          width: 120px;
         height: 120px;
         border-radius: 500px;
         /* border: 10px solid #FF4C1F; */
         -webkit-animation: spin 4s infinite ease-in;
          animation: spin 4s infinite ease-in;
          position: absolute;
       }
       .three2 {
        width: 120px;
        height: 120px;
        border-radius: 500px;
        /* border: 10px solid #e64117; */
        -webkit-animation: spin 4s infinite ease-out;
        animation: spin 4s infinite ease-out;
        position: absolute;
        left: 1px;
       
       }
       .three3 {
        width: 120px;
       height: 120px;
       border-radius: 500px;
       /* border: 10px solid #c3300b; */
       -webkit-animation: spin 4s infinite ease-in-out;
        animation: spin 4s infinite ease-in-out;
        position: absolute;
        left: 1px;
       }
       @keyframes spin {
        0% {transform: rotateX(0deg) rotateY(0deg);}
        25%{transform: rotateX(0deg) rotateY(90deg);}
        50%{transform: rotateX(0deg) rotateY(180deg);}
        75%{transform: rotateX(0deg) rotateY(-90deg);}
        100%{transform: rotateX(0deg) rotateY(0deg);}
       }
       