<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- <img src="../../assets/images/btcmonk-logo.gif" style="height:800px; width:100%"> -->
<img *ngIf="processing == 1" src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:100%; width:100%">
<div class="content-wrapper" *ngIf="processing == 0">
  <section class="content-header">
    <h1>
      <p class="text-uppercase"> Referrals </p>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row box-body">
      <div class="col-md-4 text-left">
        <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
      </div>
      <div class="col-md-4 text-center">
        <div> Total Records
          <span style="font-size:14px">{{count}}</span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div style="float: right; margin-right: 75px;">
          <input class="input-sm" type="text" (keyup)="searchResult()" [(ngModel)]="model.search" placeholder="search data">
          <input type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()" />
        </div>
      </div>
    </div>

    <div class="content box-body box table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAll($event)" />
            </th>
            <th>Referring User</th>
            <th>Referred User</th>

            <th *ngFor="let cur of currencies_are" style="text-transform: uppercase">{{cur}}</th>
            <!-- <th>BTC</th>
            <th>XLM</th>
            <th>XRP</th>
            <th>BCH</th>
            <th>THB</th>
            <th>BTG</th>
            <th>LTC</th>
            <th>INR</th>
            <th>PURA</th>
            <th>DASH</th>
            <th>ADA</th>
            <th>ETH</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ref of user_referral | paginate: { itemsPerPage:10, currentPage: pageNo ,totalItems:200 } ; let i = index">
            <th>
              <input type="checkbox" name="refx[]" value="{{ref.id}}" (change)="check(ref ,ref.balances,ref.state, $event)" [(ngModel)]="ref.state"/>
            </th>
            <td>
              <a [routerLink]="['/userProfile',ref.referring_user]">{{ref.referring_user }}</a>
            </td>
            <td>
              <a [routerLink]="['/userProfile',ref.referred_user]">{{ref.referred_user }}</a>
            </td>


            
            <td *ngFor="let bala of ref.balances, let i = index">
                <!-- {{bala.amount.toFixed(8)}} -->
                {{bala.amount}}
              </td>
            <!-- <td *ngFor="let bala of ref.balances, let i = index"> 

              <span *ngIf="bala.currency == 'btc'">{{bala.amount.toFixed(8)}}</span>

              <span *ngIf="bala.currency == 'xlm'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'xrp'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'bch'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'thb'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'btg'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'ltc'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'inr'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'pura'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'dash'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'ada'"> {{bala.amount.toFixed(8)}}</span>
              <span *ngIf="bala.currency == 'eth'"> {{bala.amount.toFixed(8)}}</span>
            </td> -->
          </tr>
          <tr *ngIf="users_withdrawa == ''">
              <td colspan="14">
                  <p class="noti-message">No Record's Found</p>
              </td>
          </tr>
        </tbody>
        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAll($event)" />
            </th>
            <th>Referring User</th>
            <th>Referred User</th>
            <th *ngFor="let cur of currencies_are" style="text-transform: uppercase">{{cur}}</th>
            
            <!-- <th>BTC</th>
            <th>XLM</th>
            <th>XRP</th>
            <th>BCH</th>
            <th>THB</th>
            <th>BTG</th>
            <th>LTC</th>
            <th>INR</th>
            <th>PURA</th>
            <th>DASH</th>
            <th>ADA</th>
            <th>ETH</th> -->
          </tr>
        </thead>
      </table>
      <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
    </div>
  </section>
</div>