.mat-header-row {
    background-color: #232d32;
    color: aliceblue;
 }
 table {
    width: 100%;
    margin-top: 12px;
 }
 /* .panel-blue .panel-heading, .panel-heading {
    border-color: #41b3f9 !important;
    color: #fff !important;
    background-color: #41b3f9 !important;
 } */
 .panel-info {
    border-color: #41b3f9 !important;
    color: #fff !important;
    background-color: #41b3f9 !important;
 }
 .small-box{
     line-height: 2.428571;
 }