<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" [formGroup]='model' (ngSubmit)='Login()'  #form1>
            <span class="login100-form-title p-b-43">
                <img src="https://www.btcmonk.com/assets/images/btcmonk-sidenav-logo.png" class="user-image" alt="BTCMonk" style="width:100%">

              <!-- Login to continue  -->
              <h3 class="error-message">{{message}} Please Enter correct details</h3>

            </span> 
                 
            <div class="wrap-input100 validate-input" >

              <input class="input100" type="text" formControlName='username' name="username" required id="username" autofocus>
              <span class="focus-input100"></span>
              <!-- <span class="label-input100">Username</span> -->
              
            </div>
            <div style="margin: 5px; ">
              <span *ngIf="!model.get('username').valid && model.get('username').touched" class="help-block" style="color: red;">Please Enter The Username</span>
            </div>
            <div class="wrap-input100 validate-input">

              <input class="input100" type="password" formControlName='password' name="password" required id="password">
              <span class="focus-input100"></span>
              <!-- <span class="label-input100">Password</span> -->
            </div>
            <div style="margin: 5px; ">
            <span *ngIf="!model.get('password').valid && model.get('password').touched" class="help-block" style="color: red;">Please Enter The Password</span>
          </div>
            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div>
            
              </div>
            </div>
        
  
            <div class="container-login100-form-btn">
              <button type="submit" [disabled]="!model.valid"  class="login100-form-btn">
                Login
              </button>
            </div>
          </form>
          <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
          </div>
        </div>
      </div>
    </div>
    
  </section>
</div>
