<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
        <form (ngSubmit)="sendEmail(model)" novalidate #registerForm="ngForm">
          <p>Send Email To</p>
          <div style="background-color: aqua;">
            <input type="radio" [checked]=" (isVerified == 1)" name="verified" (click)="mail(1)" value="1"> All User (Bunch wise)
            <input type="radio" [checked]=" (isVerified == 0)" name="verified" (click)="mail(0)" value="0"> Some User
            <input type="radio" [checked]=" (isVerified == 2)" name="verified" (click)="mail(2)" value="2"> All User (Batch wise)
          </div>
          <div class="container__child signup__form">
            <div class="form-group" *ngIf="(isVerified == 0)">
              <label for="to"> Enter Client ID</label>
              <input type="text" name="client" [(ngModel)]="model.client" placeholder="Enter Client ID">
              <button type="button" (click)="getclientEmail(model.client)" class="btn btn--form r_button">Add</button>
              <input class="form-control" type="to" name="to[]" id="to" [(ngModel)]="model.to" placeholder="example@gmail.com" required
                #email="ngModel">
            </div>
            <div *ngIf="(isVerified == 1)">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="subject">Range From</label>
                  <input class="form-control" type="text" pattern="[0-9]*" [(ngModel)]="model.range_from" name="range_from" required #range_from="ngModel"
                    placeholder="Range From Number">
                </div>
                <div *ngIf="range_from.errors?.required && range_from.touched" class="alert alert-danger">Please Enter Range From</div>
                <div *ngIf="range_from.errors?.pattern && range_from.touched" class="alert alert-danger">Please Enter Only Numbers</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="subject">Range To</label>
                  <input class="form-control" type="text" pattern="[0-9]*" [(ngModel)]="model.range_to" name="range_to" required #range_to="ngModel"
                    placeholder="Send Mail Upto Number">
                </div>
                <div *ngIf="range_to.errors?.required && range_to.touched" class="alert alert-danger">Please Enter Range Till</div>
                <div *ngIf="range_to.errors?.pattern && range_to.touched" class="alert alert-danger">Please Enter Only Numbers</div>
              </div>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input class="form-control" type="text" [(ngModel)]="model.subject" name="subject" required #username="ngModel" #subject="ngModel">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="4" cols="50" placeholder="Describe yourself here..." name="description" [(ngModel)]="model.description"
                id="description" required #description="ngModel"></textarea>
            </div>
            <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">Please Enter Description</div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-success">Send</button>
                </div>
                <div class="col-md-8">
                  <h4 style="text-align:center; color:red">{{message}}</h4>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6 box" style="margin-top:30px">
        <form>
          <div class="form-group">
            <label for="single" style="width:100%">upload file <span style="float:right;color:#ff6565"> (File could be an image or an html)</span></label>
            <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
            <br/>
          </div>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <strong>{{ item.file.name }}</strong>
              </td>
              <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess">
                  <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span *ngIf="item.isCancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                </span>
                <span *ngIf="item.isError">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <div>
            Queue progress:
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="mat-header-row">
                <tr>
                  <th>File names we have</th>
                </tr>
                <tr *ngFor='let file of file_names'>
                  <td *ngIf="file != 'images' && file != '.DS_Store'">{{file}}</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>

  </div>
</div>