a,
[type="submit"] {
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

input[type=radio] {
    margin: 12px;
}

.signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}

.container__child {
    /* width: 50%; */
    height: 100%;
    color: #040404;
}

.signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(http://ultraimg.com/images/spectre-login.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
    position: relative;
    z-index: 2;
}

.thumbnail__logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.logo__shape {
    fill: #fff;
}

.logo__text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
}

.thumbnail__content {
    -ms-flex-item-align: center;
    align-self: center;
}

h1,
h2 {
    font-weight: 300;
    color: white;
}

.heading--primary {
    font-size: 1.999rem;
}

.heading--secondary {
    font-size: 1.414rem;
}

.thumbnail__links {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
}

.thumbnail__links a {
    font-size: 1rem;
    color: #fff;
}

.thumbnail__links a:focus,
.thumbnail__links a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.signup__form {
    padding: 2.5rem;
    background: #fafafa;
}

label {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #040404;
    margin-right: 20px;
}

.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #111;
}

[type="text"] {
    color: #111;
}

[type="password"] {
    color: #111;
}

.btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 2.1875rem;
}

.btn--form:focus,
.btn--form:hover {
    background: #323232;
}

.signup__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
}

.signup__link:focus,
.signup__link:hover {
    color: #787878;
}

.r_button {
    margin: 40px;
}

.error-message {
    color: #f70606;
    padding-left: 250px;
}

.header-lable {
    padding: 12px;
    font-size: 12px;
}

.colour {
    color: #fafafa;
}

.alert-danger {
    padding: 5px !important;
}