<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Banks List
      <a [routerLink]="['/admin/AddCompanyBank']">
        <button class="btn btn-xs btn-success text-capitalize">Add Bank Details</button>
      </a>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">
            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Beneficiary</th>
                  <th>IFSC</th>
                  <th>BankName</th>
                  <th>Account</th>
                  <th>Country</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bankData of bankList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{bankData.beneficiary}}</td>
                  <td>{{bankData.ifsc}}</td>
                  <td>{{bankData.bankName}}</td>
                  <td>{{bankData.account}}</td>
                  <td class="text-capitalize">{{bankData.country}}</td>
                  <td>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-success text-capitalize" (click)="changeCompBankStatus(bankData._id, 0)" *ngIf="bankData.status == 1">Active</button>
                    <button [disabled]="!disableButton" class="btn btn-xs btn-danger text-capitalize" (click)="changeCompBankStatus(bankData._id, 1)" *ngIf="bankData.status == 0">Not Active</button>

                    <button [disabled]="!disableButton" type="button" class="btn btn-sm btn-warning text-capitalize" (click)='updateCompanyBank(bankData._id)'>
                      <i class="glyphicon glyphicon-edit"></i>
                    </button>

                    <button id="mymodelbutton" data-toggle="modal" data-target="#myModal" class="hidden btn btn-xs btn-success text-capitalize">
                      open model
                    </button>
                  </td>


                </tr>
              </tbody>
              <thead class="mat-header-row">
                <tr>
                  <th>SR. No</th>
                  <th>Beneficiary</th>
                  <th>IFSC</th>
                  <th>BankName</th>
                  <th>Account</th>
                  <th>Country</th>
                  <th>status</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--form (ngSubmit)="changeWithdrawlStatus(rowId,1,currency,withdraw,withdraw.txnId)" novalidate #registerForm="ngForm"-->
      <div *ngIf='loadBankedit == 1'>
        <img src="https://cdn.dribbble.com/users/91700/screenshots/3038974/loader.gif" style="height:100%; width:100%">
      </div>
      <div *ngIf='loadBankedit == 0'>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Bank Details</h4>
        </div>
        <form (ngSubmit)="editBankDetails(addbank)" novalidate #depositForm="ngForm">
          <div class="box box-danger">

            <p style="color:blue; font-size:21px" class="text-center box-title">{{message}}</p>
            <div class="box-body">

              <div class="form-group">
                <label>Benificiary Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="addbank.beneficiary" name="benificiary" placeholder="Benificiary" type="text"
                    class="form-control">

                  <input #id="ngModel" required [(ngModel)]="addbank._id" name="_id" placeholder="ID" type="text" class="form-control hidden">
                </div>
              </div>

              <div class="form-group">
                <label>IFSC</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="addbank.ifsc" name="comments" placeholder="ifsc" type="text" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label>Bank Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="addbank.bankName" name="bankName" placeholder="Bank Name" type="text" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label>Account</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="addbank.account" name="account" placeholder="Account" type="text" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label>Country</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <input #comments="ngModel" required [(ngModel)]="addbank.country" name="country" placeholder="Country" type="text" class="form-control">
                </div>
              </div>

              <div class="modal-footer clearfix">
                <button [disabled]="!disableButton" type="submit" class="btn btn-primary pull-left">
                  <i class="fa fa-envelope"></i> Save
                </button>
                <br>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>