<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTCMonk Coin Added</title>
  <style media="all" type="text/css">
    @media screen {
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/MIPWVWI_mY_QERxcMVPEwIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 500;
        src: local("Fira Sans Medium"), local("FiraSans-Medium"), url(https://fonts.gstatic.com/s/firasans/v8/zM2u8V3CuPVwAAXFQcDi4IjoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 500;
        src: local("Fira Sans Medium"), local("FiraSans-Medium"), url(https://fonts.gstatic.com/s/firasans/v8/zM2u8V3CuPVwAAXFQcDi4Bampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(https://fonts.gstatic.com/s/firasans/v8/DugPdSljmOTocZOR2CItOojoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(https://fonts.gstatic.com/s/firasans/v8/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 800;
        src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url(https://fonts.gstatic.com/s/firasans/v8/htOw9f-chtELyJuFCkCrFojoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 800;
        src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url(https://fonts.gstatic.com/s/firasans/v8/htOw9f-chtELyJuFCkCrFhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
    }

    @media only screen and (max-width: 620px) {
      table[class=body] .menu_style_1-1 .menu__inner {
        padding-right: 30px !important;
        padding-left: 30px !important;
      }
    }

    @media only screen and (max-width: 525px) {
      table[class=body] .menu_style_1-1 .menu__inner {
        padding: 25px 20px !important;
      }
    }

    @media only screen and (max-width: 620px) {
      table[class=body] .cta-block_style_12-1 .cta-block__box {
        padding: 35px 30px !important;
      }
    }

    @media only screen and (max-width: 525px) {
      table[class=body] .cta-block_style_12-1 .cta-block__box {
        padding: 30px 20px !important;
      }
      table[class=body] .cta_style_1-1 .cta__title br,
      table[class=body] .cta_style_1-1 .cta__text br {
        display: none !important;
      }
    }

    @media only screen and (max-width: 620px) {
      table[class=body] .footer_style_6-1 .footer__inner {
        padding-right: 30px !important;
        padding-left: 30px !important;
      }
    }

    @media only screen and (max-width: 525px) {
      table[class=body] .footer_style_6-1 .footer__inner {
        padding: 25px 20px !important;
      }
      table[class=body] .footer-text-6-1 br {
        display: none !important;
      }
    }
  </style>
</head>

<body style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; width: 100% !important; Margin: 0; padding: 0; line-height: 1.5; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #fff;">
  <table class="body" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;"
    width="100%" bgcolor="#fff">
    <tbody>
      <tr>
        <td class="wrapper" align="center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; background-color: #080328;"
          valign="top" bgcolor="#fff">
          <!-- [if (gte mso 9)|(IE)]>
					<table align="center" border="0" cellspacing="0" cellpadding="0" width="620">
					<tr>
					<td align="center" valign="top" width="620">
					<![endif]-->
          <table class="container" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; max-width: 620px;"
            width="100%">
            <tbody>
              <tr>
                <td class="content" align="center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0 10px;"
                  valign="top">
                  <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">
                    Aeternity cryptocoin will be available on BTCMonk platform. You can buy sell store and trade with Aeternity coin.
                    <br> HAPPY TRADING!</span>
                  <table class="spacing spacing_h_20" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 20px; font-size: 20px; line-height: 20px;"
                          valign="top">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="menu menu_style_1-1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td class="menu__inner" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 40px 40px 36px; background-color: #fff;"
                          valign="top" bgcolor="#fff">
                          <table style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                            width="100%">
                            <tbody>
                              <tr>
                                <td class="menu__logo" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle;"
                                  valign="middle">
                                  <table class="logo" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                    <tbody>
                                      <tr>
                                        <td class="logo__inner" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; text-align: center;"
                                          valign="top" align="center">
                                          <a class="logo__link" target="_blank" href="https://www.btcmonk.com" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #e34531; text-decoration: none; border: 0; outline: 0;"
                                            rel="noopener">
                                            <img src="https://www.btcmonk.com//assets/images/btcmonk-sidenav-logo.png" width="160" class="logo__img" alt="btcmonk" style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; font-weight: bold; font-size: 22px; color: #1b1b1b;"> </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td class="menu__link" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; padding-left: 10px; text-align: right; line-height: 1.714; font-size: 18px; font-weight: 500;"
                                  valign="middle" align="right">
                                  <a href="https://www.btcmonk.com" target="_blank" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; text-decoration: none; border: 0; outline: 0; color: #e34531;"
                                    rel="noopener">www.btcmonk.com</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="spacing spacing_h_10" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 10px; font-size: 10px; line-height: 10px;"
                          valign="top">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="cta-block cta-block_rounded cta-block_style_12-1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td class="cta-block__box" background="" style="-webkit-text-size-adjust: 100%; box-sizing: border-box; -ms-text-size-adjust: 100%; vertical-align: top; background-color: #fff; padding: 54px 40px 31px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);  background-position: top center !important; background-size: cover !important; background-clip: padding-box !important; -webkit-background-clip: padding-box !important; border-radius: 8px;"
                          valign="top" bgcolor="#fff">
                          <!-- [if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
                    <v:fill type="tile" src="" color="#080328" />
                    <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                <![endif]-->
                          <table class="cta cta_style_1-1 cta_light cta_center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; text-align: center;"
                            width="100%" align="center">
                            <tbody>
                              <tr>
                                <td class="cta__subtitle" style="-webkit-text-size-adjust: 100%; box-sizing: border-box; -ms-text-size-adjust: 100%; padding: 0; vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; color: #090529; font-weight: 600; text-transform: uppercase; line-height: 1.42; letter-spacing: 2.18px; font-size: 32px;"
                                  valign="top">Introducing</td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_h_8" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 8px; font-size: 8px; line-height: 8px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <a href="https://www.btcmonk.com/#/login" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #1595e7; text-decoration: none; border: 0; outline: 0;"
                                    target="_blank">
                                    <img class="img-center" src="https://deposit.btcmonkapp.com/mailer-images/aeternity-fav-logo.png" width="150" alt="Postcards"
                                      style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; margin-left: auto; margin-right: auto; color: #ffffff;"> </a>
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_h_36" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 36px; line-height: 36px; font-size: 36px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <!-- <img class="img-center" src="https://deposit.btcmonkapp.com/mailer-images/augar-vecahin-launching-btcmonk.png" width="520" alt="Generator" -->
                                  <img class="img-center" src="https://deposit.btcmonkapp.com/mailer-images/aternity-image-min.png" width="520" alt="Generator"
                                    style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; margin-left: auto; margin-right: auto; color: #ffffff;">
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_h_30" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 30px; line-height: 30px; font-size: 30px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="cta__title" style="-webkit-text-size-adjust: 100%; box-sizing: border-box; -ms-text-size-adjust: 100%; padding: 0; vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 900; line-height: 1.28; letter-spacing: -.6px; color: #090529;"
                                  valign="top">NOW BUY SELL STORE TRADE
                                  <br>
                                  <span style="color: #ff5722;">WITH AETERNITY CRYPTOCOIN</span>
                                  <br> ON
                                  <span style="color: #ff5722;">BTCMONK</span> PLATFORM</td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_h_10" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 10px; font-size: 10px; line-height: 10px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="cta__text" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 1.56; color: #090529;"
                                  valign="top">Aeternity cryptocoin is now available on BTCMonk platform. You can buy sell store and trade
                                  with Aeternity coin.
                                  <br>HAPPY TRADING!</td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_h_30" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 30px; line-height: 30px; font-size: 30px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="btn btn_primary" cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td align="center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                          valign="top">
                                          <table cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                            <tbody>
                                              <tr>
                                                <!-- <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; background-color: #FF5722; border-radius: 8px; text-align: center;"
                                                  valign="top" bgcolor="#FF5722" align="center">
                                                  <a href="https://www.btcmonk.com/#/login" style="-webkit-text-size-adjust: 100%; box-sizing: border-box; outline: 0; -ms-text-size-adjust: 100%; text-decoration: none; border: solid 1px #FF5722; border-color: #FF5722; display: inline-block; margin: 0; color: #ffffff; border-radius: 8px; background-color: #FF5722; line-height: 1.5; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; cursor: pointer; padding: 13px 17px;"
                                                    target="_blank"> SIGN IN NOW </a>
                                                </td> -->
                                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; background-color: transparent; border-radius: 8px; text-align: center; display: block; margin-right: 10px"
                                                  valign="top" bgcolor="#272727" align="center">
                                                  <a href="https://play.google.com/store/apps/details?id=com.ionicframework.myapp474083&amp;hl=en"
                                                    style="-webkit-text-size-adjust: 100%; box-sizing: border-box; outline: 0; -ms-text-size-adjust: 100%; text-decoration: none; border: solid 1px #424242; border-color: #424242; display: inline-block; margin: 0; color: #ffffff; border-radius: 8px; background-color: #272727; line-height: 1.5; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; cursor: pointer; padding: 5px;"
                                                    target="_blank">
                                                    <img src="https://www.btcmonk.com/assets/img/googleapp.png" alt="playstore"
                                                      style="width: 150px;">
                                                  </a>
                                                </td>
                                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; background-color: #272727; border-radius: 8px; text-align: center;"
                                                  valign="top" bgcolor="#272727" align="center">
                                                  <a href="https://itunes.apple.com/in/app/btcmonk/id1260202979?mt=8" style="-webkit-text-size-adjust: 100%; box-sizing: border-box; outline: 0; -ms-text-size-adjust: 100%; text-decoration: none; border: solid 1px #424242; border-color: #424242; display: inline-block; margin: 0; color: #ffffff; border-radius: 8px; background-color: #272727; line-height: 1.5; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; cursor: pointer; padding: 5px;"
                                                    target="_blank">
                                                    <img src="https://www.btcmonk.com/assets/img/appstore.png" alt="appstore"
                                                      style="width: 150px;">
                                                  </a>
                                                </td>


                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- [if gte mso 9]>
                    </v:textbox>
                </v:rect>
                <![endif]-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="spacing spacing_h_10" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 10px; font-size: 10px; line-height: 10px;"
                          valign="top">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="footer footer_style_6-1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td class="footer__inner" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 40px 40px 41px; background-color: #080328;"
                          valign="top" bgcolor="#fff">
                          <table style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                            width="100%">
                            <tbody>
                              <tr>
                                <td align="center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="socials socials_style_1 socials_footer-6-1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                    <tbody>
                                      <tr>
                                        <td class="socials__item" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; font-size: 0; line-height: 0; padding-right: 30px;"
                                          valign="middle">
                                          <a class="socials__link" href="https://www.facebook.com/btcmonk/" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #1595e7; text-decoration: none; border: 0; outline: 0;"
                                            target="_blank">
                                            <img class="socials__icon" src="https://deposit.btcmonkapp.com/mailer-images/facebook.png" width="20" alt="Facebook" style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; font-size: 14px; font-weight: bold; color: #151515;"> </a>
                                        </td>
                                        <td class="socials__item" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; font-size: 0; line-height: 0; padding-right: 30px;"
                                          valign="middle">
                                          <a class="socials__link" href="https://twitter.com/BTCMONK11" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #1595e7; text-decoration: none; border: 0; outline: 0;"
                                            target="_blank">
                                            <img class="socials__icon" src="https://deposit.btcmonkapp.com/mailer-images/twitter.png" width="20" alt="Twitter" style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; font-size: 14px; font-weight: bold; color: #151515;"> </a>
                                        </td>
                                        <td class="socials__item" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; font-size: 0; line-height: 0; padding-right: 30px;"
                                          valign="middle">
                                          <a class="socials__link" href="https://www.linkedin.com/in/btc-monk-a4b487146/" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #1595e7; text-decoration: none; border: 0; outline: 0;"
                                            target="_blank">
                                            <img class="socials__icon" src="https://deposit.btcmonkapp.com/mailer-images/LinkedIn_logo_initials.png" width="20" alt="Medium"
                                              style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; font-size: 14px; font-weight: bold; color: #151515;"> </a>
                                        </td>
                                        <td class="socials__item" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: middle; font-size: 0; line-height: 0; padding-right: 30px;"
                                          valign="middle">
                                          <a class="socials__link" href="https://www.instagram.com/btcmonk/?hl=en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; color: #1595e7; text-decoration: none; border: 0; outline: 0;"
                                            target="_blank">
                                            <img class="socials__icon" src="https://deposit.btcmonkapp.com/mailer-images/instagram.png" width="20" alt="Instagram" style="outline: none; max-width: 100%; border: 0; margin: 0; text-decoration: none; line-height: 100%; height: auto; -ms-interpolation-mode: bicubic; display: block; font-size: 14px; font-weight: bold; color: #151515;"> </a>
                                        </td>

                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_footer-6-1_1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 21px; line-height: 21px; font-size: 21px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" class="footer-text-6-1" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; text-align: center; line-height: 1.43; letter-spacing: -.2px; font-size: 14px; color: #ffffff;"
                                  valign="top">If you did not create an account using this address, please let us know at
                                  <a href="https://www.btcmonk.com/support" target="_blank" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; text-decoration: none; border: 0; outline: 0; color: #1595e7; font-weight: 500;"
                                    rel="noopener">support@btcmonk.com</a> We will immediately de-activate this account and will not send
                                  you any further emails at this address.
                                  <br>We appreciate You!</td>
                              </tr>
                              <tr>
                                <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top;"
                                  valign="top">
                                  <table class="spacing spacing_footer-6-1_2" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 14px; line-height: 14px; font-size: 14px;"
                                          valign="top">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="footer-menu-6-1" align="center" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; padding: 0; vertical-align: top; line-height: 1.714; font-size: 14px; color: #ffffff;"
                                  valign="top">COPYRIGHT © 2018 BTCMONK TECH INDIA PVT. LTD.
                                  <!-- <a href="#" class="menu__link" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; text-decoration: none; border: 0; outline: 0; color: #1595e7; font-weight: 500;"
                                    target="_blank">
                                    <unsubscribe>Unsubscribe</unsubscribe>. </a> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="spacing spacing_h_40" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; vertical-align: top; padding: 0; height: 40px; line-height: 40px; font-size: 40px;"
                          valign="top">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- [if (gte mso 9)|(IE)]>
					</td>
					</tr>
					</table>
					<![endif]-->
        </td>
      </tr>
    </tbody>
  </table>


</body>