<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="content-wrapper">
  <section class="content box" style="border-top:none !important">
    <div class="row box-body">
      <div class="col-md-6 text-left">
        <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
        <div style="float: right;">
          <input type="radio" [checked]=" (searchByType == 0)" name="verified" (click)="searchBy(0)" value="0">Filled / Cancelled
          <input type="radio" [checked]=" (searchByType == 1)" name="verified" (click)="searchBy(1)" value="1">Open Buy Orders
          <input type="radio" [checked]=" (searchByType == 2)" name="verified" (click)="searchBy(2)" value="2">Open Sell Orders
        </div>
      </div>
      <div class="col-md-6 text-right">
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="td.currency_pair" (change)="loadTrade(td.currency_pair)" placeholder="Select Currency">
            <option *ngFor="let sideTrade of trade" value="{{sideTrade}}"> {{sideTrade}} </option>
          </select>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <input class="form-control" type="text" (keyup)="searchResult()" [(ngModel)]="model.search" placeholder="search data">
        </div>
        <div class="col-md-2">
          <input class="btn btn-sm btn-success" type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()"
          />
        </div>
      </div>
    </div>
    <div class="content box-body">
      <table class="table table-bordered table-responsive">
        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAll($event)" />
            </th>
            <th scope="col">Date</th>
            <th scope="col">Client Id</th>
            <th scope="col">Order Id</th>
            <th>Rate</th>
            <th *ngIf="searchByType == 0">Execution Rate</th>
            <th>Quantity</th>
            <th>Equvivalent Deduction</th>

            <th>Progress</th>
            <th>Status</th>
            <th>Order Type</th>
            <th *ngIf="searchByType == 0">Trade Type</th>
            <th>Pair</th>
            <th *ngIf="searchByType == 0">Fees</th>
            <th *ngIf="searchByType == 0">Fee Currency</th>
          </tr>
        </thead>
        <tbody *ngIf="loader == 1">
          <tr>
            <td colspan="13" style="text-align: center">
                <app-loader></app-loader>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="loader == 0">

          <tr *ngFor="let ref of tradeData | paginate: { itemsPerPage:10, currentPage: page ,totalItems:count } ; let i = index ">
            <th>
              <input type="checkbox" name="ref[]" value="{{ref.id}}" (change)="check(ref, ref.state, $event)" [(ngModel)]="ref.state" />
            </th>
            <td>{{ref.created | date: 'dd/MM/yyyy'}}</td>
            <td>
              <a [routerLink]="['/userProfile',ref.client_id]">{{ref.client_id}}</a>
            </td>
            <td *ngIf="searchByType == 0">{{ref.order_id}}</td>
            <td *ngIf="searchByType != 0">{{ref.id}}</td>
            <td>{{ref.rate}}</td>
            
            <td *ngIf="searchByType == 0">{{ref.exec_rate}}</td>
            <td>{{ref.quantity}}</td>
            <td>{{ref.exec_rate * ref.quantity}}</td>
            <td>{{ref.progress}}</td>
            <td ngSwitch={{ref.status}}>
                <p *ngSwitchCase=0>Empty</p>
                <p style="color:yellow" *ngSwitchCase=1>Filling</p>
                <p style="color:green" *ngSwitchCase=2>Filled</p>
                <p style="color:red" *ngSwitchCase=3>Cancelled</p>
                <p *ngSwitchDefault>Wrong Value</p>
              </td>
            <td *ngIf="searchByType == 0">{{ref.order_type}}</td>
            <td *ngIf="searchByType != 0">{{ref.type}}</td>
            <td *ngIf="searchByType == 0">{{ref.trade_type}}</td>
            <td>{{ref.pair}}</td>
            <td *ngIf="searchByType == 0">{{ref.fees}}</td>
            <td *ngIf="searchByType == 0">{{ref.fee_currency}}</td>
          </tr>
          <tr *ngIf="tradeData == ''">
            <td colspan="13">
              <h5>
                <p class="noti-message text-center">No Record Found</p>
              </h5>
            </td>
          </tr>
        </tbody>
        <thead class="mat-header-row">
          <tr>
            <th>
              <input type="checkbox" name="all" (change)="checkAll($event)" />
            </th>
            <th scope="col">Date</th>
            <th scope="col">Client Id</th>
            <th scope="col">Order Id</th>
            <th>Rate</th>
            <th *ngIf="searchByType == 0">Execution Rate</th>
                        <th>Quantity</th>
                        <th>Equvivalent Deduction</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Order Type</th>
            <th *ngIf="searchByType == 0">Trade Type</th>
            <th>Pair</th>
            <th *ngIf="searchByType == 0">Fees</th>
            <th *ngIf="searchByType == 0">Fee Currency</th>
          </tr>
        </thead>
      </table>
      <div class="row">
        <div class="col-md-10">
          <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
        </div>
        <div class="col-md-2">
          <span style="float:right">Total Trades {{count}}</span>
        </div>

      </div>


    </div>
  </section>
</div>