body {
    font-family: sans-serif;
  }
  #container {
    width: 480px;
    margin: 20px auto;
  }
  .navigationContainer {
    background-color: #cc0000;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    float: left;
    position: relative;
    width: 10em;
  }

  li ul {
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
  }

  li>ul {
    top: auto;
    left: auto;
  }

  li:hover {
    cursor: pointer;
  }