<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h3>
      Support Team
      <small>Control panel</small>
    </h3>
    <h3 class="breadcrumb">
      <span class="label label-success header-lable">
        <a [routerLink]="['/sign_up']" class="colour">Add New</a>
      </span>
    </h3>
  </section>
  <div class="error-message">
    <h4>{{message}}</h4>
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="supports table-responsive" *ngIf="useraccess != null && useraccess.username">
      <div>
        <h3>Username : {{useraccess.username}}</h3>
      </div>
      <table class="table table-bordered">
        <!-- int currency table -->
        <thead class="mat-currency-row">
          <tr>
            <th scope="col">Menu</th>
            <th scope="col">Access Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">DepositINR</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'DepositINR')" [checked]="useraccess.DepositINR == 1" name="DepositINR"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'DepositINR')" [checked]="useraccess.DepositINR == 2" name="DepositINR"
                  value="2" /> View</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(3,'DepositINR')" [checked]="useraccess.DepositINR == 3" name="DepositINR"
                  value="3" /> Change Status</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(4,'DepositINR')" [checked]="useraccess.DepositINR == 4" name="DepositINR"
                  value="4" /> All Access</span>
            </th>
          </tr>
          <tr>
            <th scope="col">WithdrawINR</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'WithdrawINR')" [checked]="useraccess.WithdrawINR == 1" name="WithdrawINR"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'WithdrawINR')" [checked]="useraccess.WithdrawINR == 2" name="WithdrawINR"
                  value="2" /> View</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(3,'WithdrawINR')" [checked]="useraccess.WithdrawINR == 3" name="WithdrawINR"
                  value="3" /> Change Status</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(4,'WithdrawINR')" [checked]="useraccess.WithdrawINR == 4" name="WithdrawINR"
                  value="4" /> All Access</span>
            </th>
          </tr>
          <tr>
            <th scope="col">Balances</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'Balances')" [checked]="useraccess.Balances == 1" name="Balances" value="1"
                /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'Balances')" [checked]="useraccess.Balances == 2" name="Balances" value="2"
                /> View</span>
            </th>
          </tr>
          <tr>
            <th scope="col">DailyIntrest</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'DailyIntrest')" [checked]="useraccess.DailyIntrest == 1" name="DailyIntrest"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'DailyIntrest')" [checked]="useraccess.DailyIntrest == 2" name="DailyIntrest"
                  value="2" /> View</span>
            </th>
          </tr>
          <tr>
            <th scope="col">Referrals</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'Referrals')" [checked]="useraccess.Referrals == 1" name="Referrals" value="1"
                /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'Referrals')" [checked]="useraccess.Referrals == 2" name="Referrals" value="2"
                /> View</span>
            </th>
          </tr>
          <tr>
            <th scope="col">Documents</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'Documents')" [checked]="useraccess.Documents == 1" name="Documents" value="1"
                /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'Documents')" [checked]="useraccess.Documents == 2" name="Documents" value="2"
                /> View</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(3,'Documents')" [checked]="useraccess.Documents == 3" name="Documents" value="3"
                /> Change Status</span>
            </th>
          </tr>
          <tr>
            <th scope="col">DepositBTC</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'DepositBTC')" [checked]="useraccess.DepositBTC == 1" name="DepositBTC"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'DepositBTC')" [checked]="useraccess.DepositBTC == 2" name="DepositBTC"
                  value="2" /> View</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(3,'DepositBTC')" [checked]="useraccess.DepositBTC == 3" name="DepositBTC"
                  value="3" /> Change Status</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(4,'DepositBTC')" [checked]="useraccess.DepositBTC == 4" name="DepositBTC"
                  value="4" /> All Access</span>
            </th>
          </tr>
          <tr>
            <th scope="col">WithdrawBTC</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'WithdrawBTC')" [checked]="useraccess.WithdrawBTC == 1" name="WithdrawBTC"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'WithdrawBTC')" [checked]="useraccess.WithdrawBTC == 2" name="WithdrawBTC"
                  value="2" /> View</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(3,'WithdrawBTC')" [checked]="useraccess.WithdrawBTC == 3" name="WithdrawBTC"
                  value="3" /> Change Status</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(4,'WithdrawBTC')" [checked]="useraccess.WithdrawBTC == 4" name="WithdrawBTC"
                  value="4" /> All Access</span>
            </th>
          </tr>
          <tr>
            <th scope="col">MarketOrders</th>
            <th scope="col">
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(1,'MarketOrders')" [checked]="useraccess.MarketOrders == 1" name="MarketOrders"
                  value="1" /> None</span>
              <span class="spanclass">
                <input type="radio" (change)="ChangeUserAccess(2,'MarketOrders')" [checked]="useraccess.MarketOrders == 2" name="MarketOrders"
                  value="2" /> View</span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">

      <table class="table table-bordered">
        <!-- int currency table -->
        <thead class="mat-header-row">
          <tr>
            <th scope="col">SR.No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <!-- <th scope="col">Password</th> -->
            <th scope="col">IP</th>
            <th scope="col">Is Login</th>
            <th scope="col">Status</th>
            <th scope="col">Active</th>
            <th scope="col">Created</th>
            <th scope="col">User Access</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of supportusers | paginate: { itemsPerPage:2000, currentPage: p } ; let i = index">
            <th scope="row">{{i+1}}</th>
            <th scope="row">{{users.f_name}}</th>
            <td>{{users.l_name}}</td>
            <td>{{users.username}}</td>
            <td>{{users.email}}</td>
            <!-- <td>{{users.password}}</td> -->
            <td>{{users.login_ip}}</td>
            <td>{{users.is_login}}</td>
            <td *ngIf="users.is_login == '1'">Login From: {{users.login_from}}</td>
            <td *ngIf="(users.is_login == '0' || !users.is_login) && users.login_ip != ''">Logged Out From: {{users.login_from}}</td>
            <td *ngIf="users.login_ip == ''">New User</td>
            <td>{{users.active}}</td>
            <td>{{users.created}}</td>
            <td>
              <button class="btn btn-xs btn-success text-capitalize" (click)="viewStatus(users._id,users.username)">View</button>
            </td>
          </tr>
          <tr *ngIf="supportusers == ''">
            <div>
              <p class="noti-message">No Record's Fount</p>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Small boxes (Stat box) -->
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->