.header-lable {
    padding: 12px;
    font-size: 12px;
}

.colour {
    color: #fafafa;
}

.mat-header-row {
    background-color: #232d32;
    color: aliceblue;
}

.mat-currency-row {
    background-color: #3f9c98;
    ;
    color: aliceblue;
}

table {
    width: 100%;
    margin-top: 12px;
}

.header-nav {
    width: 18%;
}

.spanclass {
    margin: 21px;
}

.error-message {
    color: #4ba75b;
    padding-left: 20px;
}

.content {
    padding: 10px !important;
}