<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="content-wrapper">

  <div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">Add BTC Deposit</div>
        <div class="panel-wrapper collapse in  pd-t-35" aria-expanded="true">
            <div class="row" style="padding: 30px;">
                <div>									
                    <form action="http://ec2-18-217-67-1.us-east-2.compute.amazonaws.com/btc_admin/admin/Deposits/ExcelDataAdd" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="ng-pristine ng-valid">
          
                    <div class="col-md-3"><label>Excel File:</label></div>
                    <div class="col-md-3"><input type="file" name="userfile"></div>
                    <div class="col-md-3"><input type="submit" class="btn-success btn-md" value="upload" name="upload"></div>
                    </form>	
                </div>
            </div>
        </div>
    </div>
</div>

</div>