.box_shaddow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}
.tbody-height{
    height: 535px;
     display: block; 
     width: 100%;
}
.tbody-height tr td{
   
   
     width: 50%;
}