<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper" *ngIf="user.type == 'admin'">
  <section class="content-header">
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>


  <div class="col-md-6">
    <div class="box box-warning box_shaddow">
      <div class="box-header">
        <table class="table table-bordered table-striped">
          <thead class="mat-header-row">
            <tr>
              <th colspan="7" class="text-center" style="font-size:20px; background-color:#A3E4D7">FIAT Deposits Amounts {{loading}}</th>
            </tr>
            <tr>
              <th colspan="4" class="text-center">Today's</th>
            </tr>
            <tr>
              <th>Currency</th>
              <td>Pending</td>
              <th>Confirm</th>
              <td>Canceled</td>
            </tr>
            <tr>
              <td>INR</td>
              <td>{{fiat_deposits?.today_inr_pending}}</td>
              <td>{{fiat_deposits?.today_inr_confirm}}</td>
              <td>{{fiat_deposits?.today_inr_cancelled}}</td>
            </tr>
            <tr>
              <td>THB</td>
              <td>{{fiat_deposits?.today_thb_pending}}</td>
              <td>{{fiat_deposits?.today_thb_confirm}}</td>
              <td>{{fiat_deposits?.today_thb_cancelled}}</td>
            </tr>
            <tr>
              <th colspan="4" class="text-center">Total</th>
            </tr>
            <tr>
              <th>Currency</th>
              <td>Pending</td>
              <th>Confirm</th>
              <td>Canceled</td>
            </tr>
            <tr>
              <td>INR</td>
              <td>{{fiat_deposits?.total_inr_pending}}</td>
              <td>{{fiat_deposits?.total_inr_confirm}}</td>
              <td>{{fiat_deposits?.total_inr_cancelled}}</td>
            </tr>
            <tr>
              <td>THB</td>
              <td>{{fiat_deposits?.total_thb_pending}}</td>
              <td>{{fiat_deposits?.total_thb_confirm}}</td>
              <td>{{fiat_deposits?.total_thb_cancelled}}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="box box-warning box_shaddow">
        <div class="box-header">
          <table class="table table-bordered table-striped">
            <thead class="mat-header-row">
              <tr>
                <th colspan="7" class="text-center" style="font-size:20px; background-color:#A3E4D7">FIAT Withdrawals Amounts</th>
              </tr>
              <tr>
                <th colspan="4" class="text-center">Today's</th>                
              </tr>
              <tr>
                <th>Currency</th>
                <td>Pending</td>
                <th>Confirm</th>
                <td>Canceled</td>
              </tr>
              <tr>
                <td>INR</td>
                <td>{{fiat_withdrawals?.today_inr_pending}}</td>
                <td>{{fiat_withdrawals?.today_inr_confirm}}</td>
                <td>{{fiat_withdrawals?.today_inr_cancelled}}</td>
              </tr>
              <tr>
                <td>THB</td>
                <td>{{fiat_withdrawals?.today_thb_pending}}</td>
                <td>{{fiat_withdrawals?.today_thb_confirm}}</td>
                <td>{{fiat_withdrawals?.today_thb_cancelled}}</td>
              </tr>
              <th colspan="4" style="padding:7px" class="text-center">Total</th>
              <tr>
                  <th>Currency</th>
                  <td>Pending</td>
                  <th>Confirm</th>
                  <td>Canceled</td>
                </tr>
                <tr>
                  <td>INR</td>
                  <td>{{fiat_withdrawals?.total_inr_pending}}</td>
                  <td>{{fiat_withdrawals?.total_inr_confirm}}</td>
                  <td>{{fiat_withdrawals?.total_inr_cancelled}}</td>
                </tr>
                <tr>
                  <td>THB</td>
                  <td>{{fiat_withdrawals?.total_thb_pending}}</td>
                  <td>{{fiat_withdrawals?.total_thb_confirm}}</td>
                  <td>{{fiat_withdrawals?.total_thb_cancelled}}</td>
                </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  


  

  <div class="row">
    <div class="col-md-8">
      <div class="box box-warning box_shaddow">
        <div class="box-header">
          <table id="example1" class="table table-bordered table-striped">
            <thead class="mat-header-row">
              <tr>
                <th colspan="5" class="text-center" style="font-size:20px; background-color:#A3E4D7">Deposits & Withdrawals</th>
              </tr>
              <tr>
                <th>Currency Name</th>
                <th>Total Withdrawal till today</th>
                <th>Today's Total Withdrawal</th>
                <th>Total Deposit till today</th>
                <th>Today's Total Deposit</th>
              </tr>
              <tr *ngFor="let c of currencies; let i = index ">
                <td class="text-capitalize">{{c}}</td>
                <td>{{totalWithd[c]}}</td>
                <td>{{todayWithd[c]}}</td>
                <td>{{totalDepo[c]}}</td>
                <td>{{todayDepo[c]}}</td>
              </tr>
              <tr>
                <th>Currency Name</th>
                <th>Total Withdrawal till today</th>
                <th>Today's Total Withdrawal</th>
                <th>Total Deposit till today</th>
                <th>Today's Total Deposit</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box box-warning box_shaddow" style="height: 740px;overflow: scroll;">
        <div class="box-header">
          <table id="example1" class="table table-bordered table-striped">
            <thead class="mat-header-row">
              <tr>
                <th colspan="5" class="text-center" style="font-size:20px; background-color:#A3E4D7">Trade</th>
              </tr>
              <tr>
                <th>Currency Pair</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cp of currency_pair; let i = index ">
                <td>{{cp}}</td>
                <td>{{tradeStats[cp]}}</td>
              </tr>
            </tbody>
            <tr>
              <th>Currency Pair</th>
              <th>Amount</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box box-warning box_shaddow">
        <div class="box-header">
          <table id="example1" class="table table-bordered table-striped">
            <thead class="mat-header-row">
              <tr>
                <th colspan="5" class="text-center" style="font-size:20px; background-color:#A3E4D7">Interest</th>
              </tr>
              <tr>
                <th>Today's Total Interest</th>
                <th>Total Interest till today</th>
              </tr>
              <tr>
                <td>{{todayInterest}}</td>
                <td>{{totalInterest}}</td>
              </tr>
              <tr>
                <th>Today's Total Interest</th>
                <th>Total Interest till today</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="box box-warning box_shaddow">
        <div class="box-header">
          <table class="table table-bordered table-striped">
            <thead class="mat-header-row">
              <tr>
                <th colspan="5" class="text-center" style="font-size:20px; background-color:#A3E4D7">KYC Counts</th>
              </tr>
              <tr>
                <th>Status</th>
                <th>Today's</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>Verified</td>
                <td>{{kyc.today_verified}}</td>

                <td>{{kyc.total_verified}}</td>
                
              </tr>
              <tr>
                <td>Unverified</td>
                <td>{{kyc.today_unverified}}</td>
                <td>{{kyc.total_unverified}}</td>
              </tr>
              <tr>
                <th colspan="5" class="text-center" style="font-size:20px; background-color:#41b3f9;color:white">
                  <span>Total Users Count {{total_users?.total_users}}</span>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>