<app-header></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="loader == 1" style="margin-top:15%">
  <app-loader></app-loader>
</div>
<!-- <img *ngIf="loader == 1" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="height:100%; width:100%"> -->

<div class="content-wrapper" *ngIf="loader == 0">
  <section class="content-header">
    <h1>
      Users List
    </h1>
    <ol class="breadcrumb">
      <li>
        <a>
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">
            Total Users {{count}}

            <div style="float: right; margin-right: 75px;  ">
              <input type="radio" [checked]=" (isVerified == 0)" name="verified" (click)="verfied(0)" value="0"> Unverified
              <input type="radio" [checked]=" (isVerified == 1)" name="verified" (click)="verfied(1)" value="1"> Verified
            </div>
            <div style="float: right; margin-right: 75px;">
              <input type="text" (keyup)="searchResult()" [(ngModel)]="model.search" placeholder="search data">
              <input type="button" *ngIf="model.search.length > 1" value="search" (click)="searchResultData()" />
            </div>
            <button (click)="exportToExcel()" [disabled]="buttonState()" class="btn btn-primary">Export to excel</button>
            <table class="table table-bordered alternate">
              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th>ID</th>
                  <th>Client ID</th>
                  <th>Full Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Email Verified</th>
                  <th>Kyc Status</th>
                  <th>Suspended</th>
                  <th>Country</th>
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let users_doc of usersList | paginate: { itemsPerPage:10, currentPage: p ,totalItems:count } ; let i = index">
                  <th>
                    <input type="checkbox" name="users_doc[]" value="{{users_doc.id}}" (change)="check(users_doc,users_doc.state, $event)"
                      [(ngModel)]="users_doc.state" />
                  </th>
                  <td>{{users_doc.id}}</td>
                  <td>
                    <a [routerLink]="['/userProfile',users_doc.client_id]">{{users_doc.client_id }}</a>
                  </td>
                  <td>{{users_doc.full_name}}</td>
                  <td>{{users_doc.mobile_number}}</td>
                  <td>{{users_doc.email}}</td>

                  <td>
                    <button style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="users_doc.isVerified == true">Verified</button>
                    <button style="cursor:none" class="btn btn-xs btn-success text-capitalize" *ngIf="users_doc.isVerified == false">Not Verified</button>
                  </td>
                  <td>
                    <button style="cursor: none" class="btn btn-xs btn-danger text-capitalize" *ngIf="users_doc.kyc_status == '0'">Unverified</button>
                    <button style="cursor: none" class="btn btn-xs btn-success text-capitalize" *ngIf="users_doc.kyc_status == '1'">Verified</button>
                    <button style="cursor: none" class="btn btn-xs btn-danger text-capitalize" *ngIf="users_doc.kyc_status == '2'">Rejected</button>
                  </td>

                  <td>
                      <!-- <button *ngIf="usersInfo?.suspended == 0" class="btn btn-sm btn-success text-capitalize" (click)="suspendUserPopup(client_id,'1','suspended')">NO</button>
                      <button *ngIf="usersInfo?.suspended == 1" class="btn btn-sm btn-danger text-capitalize" (click)="suspendUserPopup(client_id,'0','suspended')">Yes</button> -->


                    <button [disabled]="!disableButton" title="Click to suspend user" class="btn btn-xs btn-success text-capitalize" (click)="suspendUserPopup(users_doc.client_id,'1','suspended')"
                      *ngIf="users_doc?.suspended == '0'">No</button>
                    <button [disabled]="!disableButton" title="Click to activate user" class="btn btn-xs btn-danger text-capitalize" (click)="suspendUserPopup(users_doc.client_id,'0','suspended')"
                      *ngIf="users_doc?.suspended == '1'">Yes</button>
                  </td>


                  <td>{{users_doc?.country}}</td>
                  <td>{{users_doc?.created | date: 'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>

              <thead class="mat-header-row">
                <tr>
                  <th>
                    <input type="checkbox" name="all" (change)="checkAll($event)" />
                  </th>
                  <th>ID</th>
                  <th>Client ID</th>
                  <th>Full Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Email Verified</th>
                  <th>Kyc Status</th>
                  <th>Suspended</th>
                  <th>Country</th>
                  <th>Created</th>
                </tr>
              </thead>
            </table>
            <div style="float:right">
              <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




<button id="suspendmodelbutton" data-toggle="modal" data-target="#suspendModel" class="btn btn-xs btn-success text-capitalize"></button>

<div class="modal fade" id="suspendModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Write Reason</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" required type="text" name="l_name" [(ngModel)]="suspend.suepention_reason" id="txnId" placeholder="Please Enter Reason">
            </div>
            <div class="modal-footer">
                <button id="close_withdrawal_model" type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                <button [disabled]="!disableButton" *ngIf="suspention?.suspended == 1" class="btn btn-sm btn-danger text-capitalize" (click)="changeStatus(suspention.client_id,1,suspend,suspend.suepention_reason)">Block</button>
                <button [disabled]="!disableButton" *ngIf="suspention?.suspended == 0" class="btn btn-sm btn-success text-capitalize" (click)="changeStatus(suspention.client_id,0,suspend,suspend.suepention_reason)">Unblock</button>


                <!-- <button [disabled]="!disableButton" type="button" (click)="changeStatus(client_id,0,suspend,suspend.suepention_reason)"
                class="btn btn-default">Submit</button> -->
            </div>
        </div>

    </div>
</div>